<div style="height:calc(100% - 157px);width:100%;position:fixed;overflow-y:scroll;padding-left:0;padding-right:0;margin-left:-15px">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:15px;"></div>
    <div ng-if="characterContext.characterClass === 'DRUID' || characterContext.characterClass === 'ELF_WIZARD' || characterContext.characterClass === 'WIZARD'" class="col-xs-12 col-md-12 text-center" style="margin:0px;padding:15px">
        <span class="col-xs-4 col-sm-4 col-md-4 btn" ng-class="attackIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(0)">Melee </span> 
        <span class="col-xs-4 col-sm-4 col-md-4 btn" ng-class="attackIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(1)">Range </span> 
        <span class="col-xs-4 col-sm-4 col-md-4 btn" ng-class="attackIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(2)">Polymorph </span> 
    </div>
    <div ng-if="!(characterContext.characterClass === 'DRUID' || characterContext.characterClass === 'ELF_WIZARD' || characterContext.characterClass === 'WIZARD')" class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding:15px">
        <span class="col-xs-6 col-sm-6 col-md-6 btn" ng-class="attackIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(0)">Melee </span> 
        <span class="col-xs-6 col-sm-6 col-md-6 btn" ng-class="attackIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(1)">Range </span> 
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:10px;"></div>
    <div class="col-xs-12 text-center" ng-show="attackIndex === 0">    
        <div class="col-xs-6 text-center">
            <strong>Hit Modifier:</strong> {{characterContext.stats.meleeHit}}
        </div>
        <div class="col-xs-6 text-center">
            <strong>Damage Modifier:</strong> {{characterContext.stats.meleeDmg}}
        </div>
    </div>
    <div class="col-xs-12 text-center" ng-show="attackIndex === 1">
        <div class="col-xs-6 text-center">
            <strong>Hit Modifier:</strong> {{characterContext.stats.rangeHit}}
        </div>
        <div class="col-xs-6 text-center">
            <strong>Damage Modifier:</strong> {{characterContext.stats.rangeDmg}} 
        </div>
    </div>
    <div class="col-xs-12 text-center" ng-show="attackIndex === 2">
        <div class="col-xs-6 text-center">
            <strong>Hit Modifier:</strong> {{characterContext.stats.meleePolyHit}}
        </div>
        <div class="col-xs-6 text-center">
            <strong>Damage Modifier:</strong> {{characterContext.stats.meleePolyDmg}} 
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
    <center>
        <span ng-click="rollToHit()">  
            <img src="images/d20.png" alt="" style="padding:0px;height:100px"/>
        </span>
    </center> 
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
    <div class="col-xs-12 col-sm-12 text-center text-success" style="margin-bottom:15px;font-size:30px" ng-show="critDmg > 0">
        <strong>Critical!!!</strong> 
    </div>
    <div class="col-xs-12 col-sm-12 text-center text-danger" style="margin-bottom:15px;font-size:30px" ng-show="rollHit === 1">
        <strong>Miss</strong> 
    </div>
    <div class="col-xs-12 col-sm-12 text-center" ng-show="rollHit > 1" style="font-size: 24px">
        <div class="col-xs-6 col-sm-6 text-center">
            <strong>Hit:</strong> {{rollHit}}({{rollHitNatural}})
        </div>
        <div class="col-xs-6 col-sm-6 text-center">
            <strong>Damage:</strong> {{rollDmg}}({{rollDmgNatural}}) 
        </div>
        <div class="col-xs-12 col-sm-12 text-center" ng-show="critDmg > 0">
            <strong>Critical Damage:</strong> {{critDmg}}
        </div>
        <div class="col-xs-12 col-sm-12 text-center" ng-show="rollDmgExplosionText !== null">
            <strong>Weapon Effect:</strong> {{rollDmgExplosionText}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
</div>

