<div style="height:calc(100% - 157px);width:100%;position:fixed;overflow-y:scroll;padding-left:0;padding-right:0">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:15px;"></div>
    <div ng-if="characterContext.characterClass === 'DRUID' || characterContext.characterClass === 'ELF_WIZARD' || characterContext.characterClass === 'WIZARD'" class="col-xs-12 col-md-12 text-center" style="margin:0px;padding-left:5px;padding-right:5px">
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(0)">Melee </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(1)">Range </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(2)">Polymorph </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(3)">Initiative </span>
        <span class="col-xs-12 col-sm-12 col-md-12 btn nowrap-truncate" ng-class="attackIndex === 11 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(11)" ng-if="characterContext.monsters.length > 0 && characterContext.monsters[0].monsterEffects.indexOf('SUBDUE') >= 0">Subdual </span>
    </div>
    <div ng-if="!(characterContext.characterClass === 'ROGUE' || characterContext.characterClass === 'DRUID' || characterContext.characterClass === 'ELF_WIZARD' || characterContext.characterClass === 'WIZARD')" class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding-left:15px;padding-right:15px">
        <span class="col-xs-4 col-sm-4 col-md-4 btn nowrap-truncate" ng-class="attackIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(0)">Melee </span> 
        <span class="col-xs-4 col-sm-4 col-md-4 btn nowrap-truncate" ng-class="attackIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(1)">Range </span> 
        <span class="col-xs-4 col-sm-4 col-md-4 btn nowrap-truncate" ng-class="attackIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(3)">Initiative </span>
        <span class="col-xs-12 col-sm-12 col-md-12 btn nowrap-truncate" ng-class="attackIndex === 11 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(11)" ng-if="characterContext.monsters.length > 0 && characterContext.monsters[0].monsterEffects.indexOf('SUBDUE') >= 0">Subdual </span>
    </div>
    <div ng-if="characterContext.characterClass === 'ROGUE'" class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding-left:15px;padding-right:15px">
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(0)">Melee </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(1)">Range </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 9 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(9)">Sneak </span>
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="attackIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(3)">Initiative </span>
        <span class="col-xs-12 col-sm-12 col-md-12 btn nowrap-truncate" ng-class="attackIndex === 11 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setAttackIndex(11)" ng-if="characterContext.monsters.length > 0 && characterContext.monsters[0].monsterEffects.indexOf('SUBDUE') >= 0">Subdual </span>
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 0">    
        <div class="col-xs-12 text-center" style="margin-top:10px;margin-bottom:10px;padding:0px" ng-if="characterContext.meleeDmgEffects.includes('FURRY_THROW')">
            <center>
                <toggle-switch style="width: 300px" ng-model="isFurryThrow" knob-label="Furry Throw" ng-click="toggleFurryThrow(isFurryThrow)"></toggle-switch>
            </center>
        </div>
        <div class="col-xs-6 text-center" style="padding:0px" ng-show="!isFurryThrow">
            <strong>Hit Mod:</strong> {{characterContext.stats.meleeHit}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px" ng-show="!isFurryThrow">
            <strong>Damage Mod:</strong> {{characterContext.stats.meleeDmg}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px" ng-show="isFurryThrow">
            <strong>Hit Mod:</strong> {{characterContext.stats.rangeHitBenrow}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px" ng-show="isFurryThrow">
            <strong>Damage Mod:</strong> {{characterContext.stats.rangeDmgBenrow}}
        </div>
        <div class="col-xs-12 text-center" style="margin-top:15px">
            <div style="display:flex;justify-content: center">
                <div ng-if="characterContext.stats.mfire > 0">
                    <img src="images/fire.png" width="22px" style="padding:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mfire}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mcold > 0" style="margin-left:15px">
                    <img src="images/cold.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mcold}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mshock > 0" style="margin-left:15px">
                    <img src="images/shock.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mshock}}</b></span>
                </div>
                <div ng-if="characterContext.stats.msonic > 0" style="margin-left:15px">
                    <img src="images/sonic.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msonic}}</b></span>                     
                </div>
                <div ng-if="characterContext.stats.meldritch > 0" style="margin-left:15px">
                    <img src="images/eldritch.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.meldritch}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mpoison > 0" style="margin-left:15px">
                    <img src="images/poison.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mpoison}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mdarkrift > 0" style="margin-left:15px">
                    <img src="images/darkrift.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mdarkrift}}</b></span> 
                </div>
                <div ng-if="characterContext.stats.msacred > 0" style="margin-left:15px">
                    <img src="images/sacred.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msacred}}</b></span>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 1">
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Hit Mod:</strong> {{characterContext.stats.rangeHit}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Damage Mod:</strong> {{characterContext.stats.rangeDmg}} 
        </div>
        <div class="col-xs-12 text-center" style="margin-top:15px">
            <div style="display:flex;justify-content: center">
                <div ng-if="characterContext.stats.rfire > 0">
                    <img src="images/fire.png" width="22px" style="padding:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rfire}}</b></span>
                </div>
                <div ng-if="characterContext.stats.rcold > 0" style="margin-left:15px">
                    <img src="images/cold.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rcold}}</b></span>
                </div>
                <div ng-if="characterContext.stats.rshock > 0" style="margin-left:15px">
                    <img src="images/shock.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rshock}}</b></span>
                </div>
                <div ng-if="characterContext.stats.rsonic > 0" style="margin-left:15px">
                    <img src="images/sonic.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rsonic}}</b></span>                     
                </div>
                <div ng-if="characterContext.stats.reldritch > 0" style="margin-left:15px">
                    <img src="images/eldritch.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.reldritch}}</b></span>
                </div>
                <div ng-if="characterContext.stats.rpoison > 0" style="margin-left:15px">
                    <img src="images/poison.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rpoison}}</b></span>
                </div>
                <div ng-if="characterContext.stats.rdarkrift > 0" style="margin-left:15px">
                    <img src="images/darkrift.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rdarkrift}}</b></span> 
                </div>
                <div ng-if="characterContext.stats.rsacred > 0" style="margin-left:15px">
                    <img src="images/sacred.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.rsacred}}</b></span>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 2">
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Hit Mod:</strong> {{characterContext.stats.meleePolyHit}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Damage Mod:</strong> {{characterContext.stats.meleePolyDmg}} 
        </div>
        <div class="col-xs-12 text-center" style="margin-top:10px;padding:0px">
            <poly-selector-mobile set-poly ="setPoly" element-id="activePoly" character-context="characterContext"></poly-selector-mobile>
        </div>
        <div class="col-xs-12 text-center" style="margin-top:15px">
            <div style="display:flex;justify-content: center">
                <div ng-if="characterContext.stats.mfire > 0">
                    <img src="images/fire.png" width="22px" style="padding:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mfire}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mcold > 0" style="margin-left:15px">
                    <img src="images/cold.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mcold}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mshock > 0" style="margin-left:15px">
                    <img src="images/shock.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mshock}}</b></span>
                </div>
                <div ng-if="characterContext.stats.msonic > 0" style="margin-left:15px">
                    <img src="images/sonic.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msonic}}</b></span>                     
                </div>
                <div ng-if="characterContext.stats.meldritch > 0" style="margin-left:15px">
                    <img src="images/eldritch.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.meldritch}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mpoison > 0" style="margin-left:15px">
                    <img src="images/poison.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mpoison}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mdarkrift > 0" style="margin-left:15px">
                    <img src="images/darkrift.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mdarkrift}}</b></span> 
                </div>
                <div ng-if="characterContext.stats.msacred > 0" style="margin-left:15px">
                    <img src="images/sacred.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msacred}}</b></span>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 11">
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Hit Mod:</strong> {{characterContext.stats.meleeHit}}
        </div>
        <div class="col-xs-6 text-center" style="padding:0px">
            <strong>Damage Mod:</strong> {{characterContext.stats.meleeDmg}} 
        </div>
        <div class="col-xs-12 text-center" style="margin-top:15px">
            <div style="display:flex;justify-content: center">
                <div ng-if="characterContext.stats.mfire > 0">
                    <img src="images/fire.png" width="22px" style="padding:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mfire}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mcold > 0" style="margin-left:15px">
                    <img src="images/cold.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mcold}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mshock > 0" style="margin-left:15px">
                    <img src="images/shock.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mshock}}</b></span>
                </div>
                <div ng-if="characterContext.stats.msonic > 0" style="margin-left:15px">
                    <img src="images/sonic.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msonic}}</b></span>                     
                </div>
                <div ng-if="characterContext.stats.meldritch > 0" style="margin-left:15px">
                    <img src="images/eldritch.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.meldritch}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mpoison > 0" style="margin-left:15px">
                    <img src="images/poison.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mpoison}}</b></span>
                </div>
                <div ng-if="characterContext.stats.mdarkrift > 0" style="margin-left:15px">
                    <img src="images/darkrift.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.mdarkrift}}</b></span> 
                </div>
                <div ng-if="characterContext.stats.msacred > 0" style="margin-left:15px">
                    <img src="images/sacred.png" width="22px" style="padding-left:0px;margin-top:-9px;"/><span style="font-size:22px"><b>: {{characterContext.stats.msacred}}</b></span>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 3">
        <div class="col-xs-12 text-center" style="padding:0px">
            <strong>Initiative Mod:</strong> {{characterContext.stats.initiative + characterContext.initBonus}}
        </div>
    </div>
    <div class="col-xs-12 text-center" style="padding:0px" ng-show="attackIndex === 9">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding-left:15px;padding-right:15px" ng-show="characterContext.sneakAtRange">
            <span class="col-xs-6 col-sm-6 col-md-6 btn" ng-class="sneakIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSneakIndex(0)">Melee </span> 
            <span class="col-xs-6 col-sm-6 col-md-6 btn" ng-class="sneakIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSneakIndex(1)">Range </span> 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: 10px" ng-show="sneakIndex === 0">
            <div class="col-xs-6 text-center" style="padding:0px">
                <strong>Hit Mod:</strong> {{characterContext.stats.meleeHit + characterContext.meleeSneakHit}}
            </div>
            <div class="col-xs-6 text-center" style="padding:0px">
                <strong>Damage Mod:</strong> {{characterContext.stats.meleeDmg + characterContext.meleeSneakDamage}} 
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: 10px" ng-show="sneakIndex === 1">
            <div class="col-xs-6 text-center" style="padding:0px">
                <strong>Hit Mod:</strong> {{characterContext.stats.rangeHit + characterContext.rangeSneakHit}}
            </div>
            <div class="col-xs-6 text-center" style="padding:0px">
                <strong>Damage Mod:</strong> {{characterContext.stats.rangeDmg + characterContext.rangeSneakDamage}} 
            </div>
        </div>
    </div>
    <div ng-show="attackIndex === 3">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;padding-top:20px">
            <center>
                <span ng-click="rollToHit()">  
                    <img src="images/d20.png" alt="" style="padding:0px;height:100px"/>
                </span>
            </center> 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size:24px;margin-top:15px" ng-show="lastEvent.type === 'INIT'">
            <strong>Initiative:</strong> {{lastEvent.result}}({{lastEvent.roll}})
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center text-info" style="padding:0px;font-size:24px;margin-top:15px" ng-show="lastEvent.type === 'ROLLER'">
            <strong>{{lastEvent.result}}</strong> 
        </div>
    </div>
    <div ng-show="attackIndex !== 3">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;padding-top:20px">
            <center>
                <span ng-click="rollToHit()">  
                    <img src="images/d20.png" alt="" style="padding:0px;height:100px"/>
                </span>
            </center> 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center text-info" style="padding:0px;font-size:24px;margin-top:15px" ng-show="lastEvent.type === 'ROLLER'">
            <strong>{{lastEvent.result}}</strong> 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" ng-show="lastEvent.type === 'ATTACK'">
            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:15px;padding:0px" ng-show="lastEvent.isMiss !== true">
                <div ng-if="(characterContext.characterClass === 'MONK' || characterContext.characterClass === 'RANGER') && ((attackIndex === 0 && characterContext.meleeOffhandDmgRange && characterContext.meleeOffhandDmgRange.length > 0) || (attackIndex === 1 && characterContext.rangeOffhandDmgRange && characterContext.rangeOffhandDmgRange.length > 0))">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="padding:0px">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:10px">
                            <u>Hit(M):</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.mRollTotal}}({{lastEvent.mRoll}})
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:5px">
                            <u>Hit(O):</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.oRollTotal}}({{lastEvent.oRoll}})
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="padding:0px">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:10px">
                            <u>Dmg(M):</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.mDmg}}({{lastEvent.mWheel}}) 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:5px">
                            <u>Dmg(O):</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.oDmg}}({{lastEvent.oWheel}}) 
                        </div>
                    </div>
                </div>
                <div ng-if="attackIndex === 11 || !(characterContext.characterClass === 'MONK' || characterContext.characterClass === 'RANGER') || (attackIndex === 0 && (characterContext.meleeOffhandDmgRange === null || characterContext.meleeOffhandDmgRange.length === 0)) || (attackIndex === 1 && (characterContext.rangeOffhandDmgRange === null || characterContext.rangeOffhandDmgRange.length === 0))">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="padding:0px">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:20px">
                            <u>Hit:</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.mRollTotal}}({{lastEvent.mRoll}})
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="padding:0px">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 22px;font-weight: bold;padding-top:20px">
                            <u>Dmg:</u>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding:0px;font-size: 20px;">
                            {{lastEvent.mDmg}}({{lastEvent.mWheel}}) 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12" style="margin-top:7px;"></div>
            <div class="col-xs-12 col-sm-12 text-center text-danger" style="font-size:30px" ng-show="lastEvent.isMiss === true">
                <strong>Miss</strong> 
            </div>
            <div class="col-xs-12 text-center" ng-if="lastEvent.isCrit === true">
                <div class="col-xs-12 text-center text-success" style="margin-top:10px">
                    <h3 style="margin:0px"><strong>Critical!!!</strong></h3>
                </div>
                <div class="col-xs-12 text-center" style="margin-top:10px" ng-if="lastEvent.mCrit > 0">
                    <h3 style="margin:0px"><strong>Mainhand Critical: {{lastEvent.mCrit}}</strong></h3>
                </div>
                <div class="col-xs-12 text-center" style="margin-top:10px" ng-if="lastEvent.oCrit > 0">
                    <h3 style="margin:0px"><strong>Offhand Critical: {{lastEvent.oCrit}}</strong></h3>
                </div>
                <div class="col-xs-12 text-center" style="margin-top:10px">
                    <h3 style="margin:0px"><strong>Critical Total: {{lastEvent.critTotal}}</strong></h3>
                </div>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:12px" ng-if="lastEvent.isCrit === false">
                <h3 style="margin:0px"><strong>Total Damage: {{lastEvent.totalDmg}}</strong></h3>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:15px" ng-if="lastEvent.mWeaponExp !== null">
                <h3 style="margin:0px">{{lastEvent.mWeaponExp}}</h3>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:15px" ng-if="lastEvent.sWeaponExp !== null">
                <h3 style="margin:0px">{{lastEvent.sWeaponExp}}</h3>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:15px" ng-if="lastEvent.oWeaponExp !== null">
                <h3 style="margin:0px">{{lastEvent.oWeaponExp}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
</div>

