<div style="height:calc(100% - 157px);width:100%;position:fixed;overflow-y:scroll;padding-left:0;padding-right:0">
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
    <div class="col-xs-12 col-md-12 text-center" style="margin:0px;padding:15px">
        <span class="col-xs-4 col-md-4 btn" ng-class="defendIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDefendIndex(0)">Defend </span> 
        <span class="col-xs-4 col-md-4 btn" ng-class="defendIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDefendIndex(2)">Heal </span> 
        <span class="col-xs-4 col-md-4 btn" ng-class="defendIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDefendIndex(1)">Save </span> 
    </div>
    <div class="col-xs-12 text-center" ng-show="defendIndex === 0">  
        <div class="col-xs-12 col-md-12 text-left" style="margin-top:3px;margin-bottom:2px">
            Damage Type:
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin:0px;padding-left:15px;padding-right:15px">
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(0)">Melee </span> 
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(1)">Range </span> 
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(2)">Spell </span> 
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(3)">Puzzle </span>
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 4 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(4)">Push </span>
            <span class="col-xs-4 col-md-4 btn" ng-class="damageIndex === 5 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageIndex(5)">None </span>            
        </div>
        <div class="col-xs-12 col-md-12 text-left" style="margin-top: 12px;margin-bottom: 2px">
            Damage Modifier:
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin:0px;padding-left:15px;padding-right:15px">
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(0)">None </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(1)">Fire </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(2)">Cold </span>
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(3)">Shock </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 4 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(4)">Sonic </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 5 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(5)">Eldritch </span>
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 6 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(6)">Poison </span>
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 7 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(7)">Darkrift </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 8 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(8)">Sacred </span> 
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 9 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(9)">Acid </span>
            <span class="col-xs-3 col-md-3 btn" ng-class="damageModifierIndex === 10 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setDamageModifierIndex(10)">Other </span> 
        </div>
             
        <div class="col-xs-12 col-md-12 text-left" style="margin-top: 15px;margin-bottom: 2px">
            Damage Amount:
        </div>
        <div class="col-xs-12 col-md-12">
            <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="damageAmount"/>
        </div>
       
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px;margin-bottom:15px">
            <button class="btn btn-primary" ng-click="takeDamage(damageAmount)" style="width:90%;max-width:600px">
                Take Damage 
            </button>
        </div>
        <div class="col-xs-12 text-center" ng-show="damageTaken > -l" style="font-size: 24px">
            <strong>Damage Taken:</strong> {{damageTaken}}
        </div>
    </div>
    <div class="col-xs-12 text-center" ng-show="defendIndex === 1">
        <div class="col-xs-12 col-md-12 text-center" style="margin:0px;padding:15px">
            <span class="col-xs-4 col-md-4 btn" ng-class="saveIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSaveIndex(0)">Fortitude </span> 
            <span class="col-xs-4 col-md-4 btn" ng-class="saveIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSaveIndex(1)">Reflex </span> 
            <span class="col-xs-4 col-md-4 btn" ng-class="saveIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSaveIndex(2)">Will </span> 
        </div>
        <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
        <div class="col-xs-12 col-sm-12 text-center" style="font-size:24px" ng-show="saveIndex === 0">
            <strong>Fortitude Save Bonus: </strong> {{characterContext.stats.fort}}
        </div>
        <div class="col-xs-12 col-sm-12 text-center" style="font-size:24px" ng-show="saveIndex === 1">
            <strong>Reflex Save Bonus: </strong> {{characterContext.stats.reflex}}
        </div>
        <div class="col-xs-12 col-sm-12 text-center" style="font-size:24px" ng-show="saveIndex === 2">
            <strong>Will Save Bonus: </strong> {{characterContext.stats.will}}
        </div>
        <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
        <center>
            <span ng-click="rollToSave()">  
                <img src="images/d20.png" alt="" style="padding:0px;height:100px"/>
            </span>
        </center> 
        <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
        <div class="col-xs-12 col-sm-12 text-center text-danger" style="font-size:30px" ng-show="lastEvent.type === 'ROLLER'">
            <strong>{{lastEvent.result}}</strong> 
        </div>
        <div class="col-xs-12 text-center" style="font-size: 24px" ng-show="lastEvent.type === 'SAVE'">
            <strong>Save:</strong> {{lastEvent.save}}({{lastEvent.roll}})
        </div>
    </div>
    <div class="col-xs-12 text-center" ng-show="defendIndex === 2">
        <div class="col-xs-12 col-md-12 text-left" style="margin-top: 15px;margin-bottom: 2px">
            Heal Amount:
        </div>
        <div class="col-xs-12 col-md-12">
            <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="healAmount"/>
        </div>
       
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px;margin-bottom:15px">
            <button class="btn btn-primary" ng-click="healDamage(healAmount)" style="width:90%;max-width:600px">
                Heal
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
</div>

