<div style="height:calc(100% - 137px);width:100%;position:fixed;overflow-y:scroll;padding-left:0;padding-right:0">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px">
        <h4 style="border-bottom:1pt solid black;"><strong>Difficulty Code</strong></h4>
        <md-input-container md-no-float class="md-block hide-validation-error" style="margin:0px">
            <input type="text" ng-model="adventurePasscode" placeholder="Enter Adventure passcode (DM provided)">
        </md-input-container>
        <div class="col-xs-1"></div>
        <div class="col-xs-10 text-center" style="margin:0px;padding:15px">
            <button class="btn btn-primary" ng-click="setAdventure(characterContext.id, adventurePasscode)" style="width:100%">
                Submit Passcode
            </button>
        </div> 
        <div class="col-xs-1"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px" ng-if='characterContext.adventureName !== "Generic Dungeon"'>
        <h4 style="border-bottom:1pt solid black;"><strong>Slot ID</strong></h4>
        <md-input-container md-no-float class="md-block hide-validation-error" style="margin:0px">
            <input type="text" ng-model="characterContext.rollerId" placeholder="TD Adventure Roller ID is provided by your Dungeon Master">
        </md-input-container>
        <div class="col-xs-1"></div>
        <div class="col-xs-10 text-center" style="margin:0px;padding:15px">
            <button class="btn btn-primary" ng-click="setRollerId(characterContext.id, characterContext.rollerId)" style="width:100%">
                Submit Adventure Roller ID
            </button>
        </div> 
        <div class="col-xs-1"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px">
        <h4 style="border-bottom:1pt solid black;"><strong>Party Bonuses</strong></h4>
        <div class="col-xs-12 col-md-12 text-left" style="margin-bottom: 2px">
            Party Initiative Bonus:
        </div>
        <div class="col-xs-12 col-md-12">
            <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="characterContext.initBonus" ng-change="setInitBonus(characterContext.initBonus)"/>
        </div>
        <div class="col-xs-12 col-md-12 text-left" style="margin-top:10px;margin-bottom: 2px">
            Party Health Bonus:
        </div>
        <div class="col-xs-12 col-md-12">
            <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="characterContext.healthBonus" ng-change="setHealthBonus(characterContext.healthBonus)"/>
        </div>
        <div ng-if='characterContext.hasBraceletCabal'>
            <div class="col-xs-12 col-md-12 text-left" style="margin-top:10px;margin-bottom: 2px">
                Bracelets of the Cabal Bonus:
            </div>
            <div class="col-xs-12 col-md-12">
                <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="characterContext.braceletCabalBonus" ng-change="setBraceletCabalBonus(characterContext.braceletCabalBonus)"/>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px" ng-if='characterContext.prestigeAvailable && !characterContext.prestigeActive'>
        <h4 style="border-bottom:1pt solid black;"><strong>Prestige Class</strong></h4>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding:15px">
            <button class="btn btn-primary" ng-click="activatePrestigeClass(characterContext.id)" style="width:100%">
                Activate Prestige Class
            </button>
        </div> 
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px">
        <h4 style="border-bottom:1pt solid black;"><strong>Reset</strong></h4>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding:15px">
            <button class="btn btn-primary" ng-click="resetCharacter(characterContext.id)" style="width:100%">
                Reset Character
            </button>
        </div> 
    </div>
   
    <div class="col-xs-12 col-sm-12" style="margin-top:15px;"></div>
</div>

