<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <label>User Account:</label>
                <select class="form-control" style="height:40px;" ng-change="updateCharacters(user)" ng-model="user" ng-options="account.id as account.username for account in userAccounts"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top: 10px">
                <label>Existing Character Name:</label>
                <select class="form-control" style="height:40px;" ng-model="character" ng-options="character.id as character.name for character in userCharacters"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top: 10px">
                <label>Name:</label>
                <input class="form-control" type="text" ng-model="name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top: 10px">
                <label>Class:</label><br>
             </div>   
            <div class="col-xs-12 col-md-12">
                <span style="width:33.33333%" ng-class="{'btn-info' : characterClassSelected(charClass), 'btn-default' : !characterClassSelected(charClass)}" ng-click="toggleCharacterClassSelected(charClass)" class="btn" ng-repeat-start="charClass in characterClasses" ng-repeat-end="">
                    {{charClass | characterclassformat}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px;margin-bottom:15px">
                <button class="btn btn-primary" ng-click="cloneCharacter()" style="width:100%;max-width:600px">
                    <span class="fa fa-save" ></span> Clone 
                </button>
            </div>
        </div>
    </div>
</div>