<div class="row">
    <div class="col-xs-12 col-md-12 text-center" style="margin:0px;padding:0px">
        <span class="col-xs-3 col-md-3 btn" ng-class="tabIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 0">Character </span> 
        <span class="col-xs-3 col-md-3 btn" ng-class="tabIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 1">Items </span> 
        <span class="col-xs-3 col-md-3 btn" ng-class="tabIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 2">Statistics </span> 
        <span class="col-xs-3 col-md-3 btn" ng-class="tabIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 3">In Game </span> 
    </div>
    <div class="col-md-12 hidden-sm hidden-xs">
        <div ng-if="tabIndex === 0">
            <character-mobile></character-mobile>
        </div>
        <div ng-if="tabIndex === 1">
            <items-tablet></items-tablet>
        </div>
        <div ng-if="tabIndex === 2">
            <stats-tablet></stats-tablet>
        </div>
        <div ng-if="tabIndex === 3">
            <notes-mobile></notes-mobile>
        </div>
    </div>
    <div class="col-xs-12 visible-sm visible-xs">
        <div ng-if="tabIndex === 0">
            <character-mobile></character-mobile>
        </div>
        <div ng-if="tabIndex === 1">
            <items-mobile></items-mobile>
        </div>
        <div ng-if="tabIndex === 2">
            <stats-mobile></stats-mobile>
        </div>
        <div ng-if="tabIndex === 3">
            <notes-mobile></notes-mobile>
        </div>
    </div>
</div>

