<div style="height:calc(100% - 102px);position:fixed;overflow-y:scroll;padding-left:0;padding-right:0">
    <div class="col-xs-12" style="margin-top:10px;padding:0" ng-if="characterContext.meleeMainhand !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="meleeMainhand" model="characterContext.meleeMainhand" label="Melee Weapon"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.meleeMainhand.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.meleeMainhand.statusText}}</label>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.meleeOffhand !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="meleeOffhand" model="characterContext.meleeOffhand" label="Melee Offhand"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.meleeOffhand.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.meleeOffhand.statusText}}</label>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.rangedMainhand !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="rangedMainhand" model="characterContext.rangedMainhand" label="Range Weapon"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.rangedMainhand.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.rangedMainhand.statusText}}</label>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.rangedOffhand !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="rangedOffhand" model="characterContext.rangedOffhand" label="Range Offhand"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.rangedOffhand.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.rangedOffhand.statusText}}</label>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.head !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="head" model="characterContext.head" label="Head"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.eyes !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="eyes" model="characterContext.eyes" label="Eyes"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.eyes.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.eyes.statusText}}</label>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.leftEar !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="leftEar" model="characterContext.leftEar" label="Ear"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.rightEar !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="rightEar" model="characterContext.rightEar" label="Ear"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.neck !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="neck" model="characterContext.neck" label="Neck"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.torso !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="torso" model="characterContext.torso" label="Torso"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.wrists !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="wrists" model="characterContext.wrists" label="Wrists"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.hands !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="hands" model="characterContext.hands" label="Hands"></item-mobile-selector>
    </div>
    <div ng-if="characterContext.backs !== null && characterContext.backs.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="back in characterContext.backs track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="back{{$index}}" model="back" label="Back"></item-mobile-selector>
        </div>
    </div>
    <div ng-if="characterContext.rings !== null && characterContext.rings.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="ring in characterContext.rings track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="ring{{$index}}" model="ring" label="Ring"></item-mobile-selector>
        </div>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.waist !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="waist" model="characterContext.waist" label="Waist"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.shirt !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="shirt" model="characterContext.shirt" label="Shirt"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.legs !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="legs" model="characterContext.legs" label="Legs"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0" ng-if="characterContext.boots !== null">
        <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="boots" model="characterContext.boots" label="Feet"></item-mobile-selector>
    </div>
    <div class="col-xs-12" style="padding:0;margin-top:-10px" ng-if="characterContext.boots.slotStatus === 'INVALID'">
        <label class="error-text">{{characterContext.boots.statusText}}</label>
    </div>
    <div ng-if="characterContext.charms !== null && characterContext.charms.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="charm in characterContext.charms track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="charm{{$index}}" model="charm" label="Charm"></item-mobile-selector>
        </div>
    </div>
    <div ng-if="characterContext.iounStones !== null && characterContext.iounStones.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="iounStone in characterContext.iounStones track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="iounStone{{$index}}" model="iounStone" label="Ioun Stone"></item-mobile-selector>
        </div>
    </div>
    <div ng-if="characterContext.slotless !== null && characterContext.slotless.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="slotlessItem in characterContext.slotless track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></item-mobile-selector>
        </div>
    </div>
    <div ng-if="characterContext.runestones !== null && characterContext.runestones.length > 0">
        <div class="col-xs-12" style="padding:0" ng-repeat-start="runestone in characterContext.runestones track by $index" ng-repeat-end>
            <item-mobile-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="runestone{{$index}}" model="runestone" label="Runestone"></item-mobile-selector>
        </div>
    </div>
</div>
