<div>
    <div>
        <label>{{label}}:</label>
        <a href="" data-toggle="modal" data-target="#{{elementId}}Modal" ng-click="reloadTokens()"><label>{{model.name}}</label></a>
    </div> 

    <!-- Modal -->
    <div id="{{elementId}}Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="font-size:30px;color: rgb(255, 255, 255)">&times;</button>
                    <h4 class="modal-title">{{label}} Selection</h4>
                </div>
                <div class="col-xs-12 text-center" style="display:block;height:32px;margin:0px;padding:0px">
                    <span class="col-xs-2 btn" ng-class="tabIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 0;reloadTokens()">All </span> 
                    <span class="col-xs-2 btn" ng-class="tabIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 1;reloadTokens()">Comn </span> 
                    <span class="col-xs-2 btn" ng-class="tabIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 2;reloadTokens()">Uncom </span> 
                    <span class="col-xs-2 btn" ng-class="tabIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 3;reloadTokens()">Rare </span> 
                    <span class="col-xs-2 btn" ng-class="tabIndex === 4 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 4;reloadTokens()">Ultra </span> 
                    <span class="col-xs-2 btn" ng-class="tabIndex === 5 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 5;reloadTokens()">Relic + </span>
                </div>
                <div class="modal-body" style="padding:0px;margin-top:32px">
                    <div style="height:calc(100% - 141px);position:fixed;overflow-y:scroll;width:100%;padding-left:0;padding-right:0;">  
                        <div class="col-xs-12" >
                            <hr style="margin-bottom:5px;margin-top:5px;"/>
                        </div>
                        <div style="height:44px" ng-class-odd="'esi-row-alt'" ng-repeat-start="item in itemSelection track by $index" ng-click="selectToken(item)" data-dismiss="modal" >
                            <div class="col-xs-12">
                                {{item.name}}
                            </div>
                            <div class="col-xs-12 nowrap-truncate">
                                {{item.text}}
                            </div>
                        </div>
                        <div class="col-xs-12" ng-repeat-end>
                            <hr style="margin-bottom:5px;margin-top:5px;"/>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="position:absolute;bottom:0;width:100%;height:50px">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="unequipItemSlot()" style="margin-top:6px">
                        <span class="fa fa-ban" style="color:red"></span>
                        Unequip {{label}}
                    </button>
                </div>
            </div>
        </div>
    </div>         
</div>

