<div class="row">
    <div style="display:flex;margin-top:10px" ng-if="characterContext.iounStones !== null && characterContext.iounStones.length > 0">
        <label style="font-size:28px;padding-right:15px;margin-top:8px">Ioun Stones:</label>
        <div style="padding:0;width:70px" ng-repeat-start="iounStone in characterContext.iounStones track by $index" ng-repeat-end>
            <token-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="iounStone{{$index}}" model="iounStone" label="Ioun Stone"></token-selector>
        </div>
    </div>
    <div style="display:flex;margin-top:10px" ng-if="characterContext.charms !== null && characterContext.charms.length > 0">
        <label style="font-size:28px;padding-right:15px;margin-top:8px">Charms:</label>
        <div style="padding:0;width:70px" ng-repeat-start="charm in characterContext.charms track by $index" ng-repeat-end>
            <token-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="charm{{$index}}" model="charm" label="Charm"></token-selector>
        </div>
    </div>
    <div style="display:flex;margin-top:10px" ng-if="characterContext.slotless !== null && characterContext.slotless.length > 0">
        <label style="font-size:28px;padding-right:15px;margin-top:8px">Slotless:</label>
        <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in characterContext.slotless track by $index" ng-repeat-end>
           <token-selector character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
        </div>
    </div>

    <center>
        <img src="images/barbarian.jpg" width="20%" alt="" style="margin-top:5px;padding:0px"/>
    </center>
    <div class="col-xs-12 text-center">
        <strong>Hit Points: </strong>{{characterContext.stats.health}}
    </div>
    <div class="col-xs-12 text-center">
        <strong>Melee</strong> Hit: {{characterContext.stats.meleeHit}}  Damage: {{characterContext.stats.meleeDmg}}  AC: {{characterContext.stats.meleeAC}}
    </div>
    <div class="col-xs-12 text-center">
        <strong>Ranged</strong> Hit: {{characterContext.stats.rangeHit}}  Damage: {{characterContext.stats.rangeDmg}}  AC: {{characterContext.stats.rangeAC}}
    </div>
    <div class="col-xs-12 text-center" ng-if="characterContext.characterClass === 'CLERIC' || characterContext.characterClass === 'DRUID' || characterContext.characterClass === 'ELFWIZARD'|| characterContext.characterClass === 'WIZARD'">
        <strong>Spell</strong> Damage: {{characterContext.stats.spellDmg}}  Heal: {{characterContext.stats.spellHeal}}  Resist: {{characterContext.stats.spelResist}}
    </div>
    <div class="col-xs-12 text-center">
        <strong>Saves</strong> Fort: {{characterContext.stats.fort}}  Reflex: {{characterContext.stats.reflex}}  Will: {{characterContext.stats.will}}
    </div>
    <div class="col-xs-12 text-center" style="margin-top:15px;">
        <button class="btn btn-primary" ng-click="exportToPDF()">
            Download Character as PDF 
        </button>
    </div>
</div>

