<div>
    <div style="position:absolute;right:0px;margin-right:15px" ng-style="interactive && {'margin-top':'0px'} || {'margin-top': '10px'}">
        <toggle-switch ng-model="interactive" knob-label="Interactive" ></toggle-switch>
    </div>
    <div ng-show="interactive === true">
        <center>
            <div style="display:flex;max-width:866px;margin-top:10px;margin-left:-105px">
                <label class="text-right" ng-class="{'error-text': iounStoneErrors !== null}" style="font-size:28px;padding-right:15px;margin-top:8px">Ioun Stones:</label>
                <div style="padding:0;width:70px" ng-repeat-start="iounStone in characterContext.iounStones track by $index" ng-repeat-end>
                    <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="iounStone{{$index}}" model="iounStone" label="Ioun Stone"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:2px" ng-repeat-start="iounStoneError in iounStoneErrors track by $index" ng-repeat-end>
                <label class="error-text">{{iounStoneError}}</label>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px">
                <label class="text-right" ng-class="{'error-text': charmErrors !== null}" style="font-size:28px;padding-right:15px;margin-top:8px">Charms:</label>
                <div style="padding:0;width:70px" ng-repeat-start="charm in characterContext.charms track by $index" ng-repeat-end>
                    <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="charm{{$index}}" model="charm" label="Charm"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:2px" ng-repeat-start="charmError in charmErrors track by $index" ng-repeat-end>
                <label class="error-text">{{charmError}}</label>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px">
                <label class="text-right" ng-class="{'error-text': slotlessErrors !== null}" style="font-size:28px;padding-right:15px;margin-top:8px">Slotless:</label>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow1 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px" ng-if="slotlessRow2.length > 0">
                <div style="width:121px"></div>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow2 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px" ng-if="slotlessRow3.length > 0">
                <div style="width:121px"></div>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow3 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px" ng-if="slotlessRow4.length > 0">
                <div style="width:121px"></div>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow4 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px" ng-if="slotlessRow5.length > 0">
                <div style="width:121px"></div>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow5 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:10px" ng-if="slotlessRow6.length > 0">
                <div style="width:121px"></div>
                <div style="padding:0;width:70px" ng-repeat-start="slotlessItem in slotlessRow6 track by $index" ng-repeat-end>
                   <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="bottom" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></token-selector>
                </div>
            </div>
            <div style="display:flex;max-width:866px;margin-top:2px" ng-repeat-start="slotlessError in slotlessErrors track by $index" ng-repeat-end>
                <label class="error-text">{{slotlessError}}</label>
            </div>
        </center>
        <div style="display:flex">
            <div style="min-width:250px;width:25%">
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" ng-class="{'error-text': headErrors !== null}" style="min-width:150px;font-size:28px;margin-top:8px;margin-left:auto;margin-right:0">Head:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="head in characterContext.heads track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right-top" set-token="setTokenSlot" unequip="unequipItem" model="head" label="Head"></token-selector>
                    </div>
                </div>
                <div style="display:flex;min-width:250px;float:right" ng-show="headErrors !== null">
                    <div style="width:20%;"></div>
                    <label style="min-width:210px;" class="error-text">{{headErrors}}</label>
                </div>                
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">                    
                    <label class="text-right" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Bead:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="bea in characterContext.bead track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right" set-token="setTokenSlot" unequip="unequipItem" model="bea" label="Bead"></token-selector>
                    </div>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Wrists:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="wrist in characterContext.wrists track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right" set-token="setTokenSlot" unequip="unequipItem" model="wrist" label="Wrists"></token-selector>
                    </div>
                </div>
                
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Hands:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="hand in characterContext.hands track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right" set-token="setTokenSlot" unequip="unequipItem" model="hand" label="Hands"></token-selector>
                    </div>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Torso:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="torso in characterContext.torsos track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right-top" set-token="setTokenSlot" unequip="unequipItem" model="torso" label="Torso"></token-selector>
                    </div>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">                    
                    <label class="text-right" ng-class="{'error-text': waistErrors !== null}" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Waist:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="belt in characterContext.waist track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right" set-token="setTokenSlot" unequip="unequipItem" model="belt" label="Waist"></token-selector>
                    </div>
                </div>
                <div style="display:flex;min-width:250px;float:right" ng-show="waistErrors !== null">
                    <div style="width:20%;"></div>
                    <label style="min-width:210px;" class="error-text">{{waistErrors}}</label>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" ng-class="{'error-text': legsErrors !== null}" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Legs:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="leg in characterContext.legs track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right-bottom" set-token="setTokenSlot" unequip="unequipItem" model="leg" label="Legs"></token-selector>
                    </div>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Shins:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="shin in characterContext.shins track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right-bottom" set-token="setTokenSlot" unequip="unequipItem" model="shin" label="Shins"></token-selector>
                    </div>
                </div>
                <div style="display:flex;margin-top:10px;min-width:250px;float:right">
                    <label class="text-right" ng-class="{'error-text': bootsErrors !== null}" style="min-width:150px;font-size:28px;padding-right:15px;margin-top:8px;margin-left:auto;margin-right:0">Feet:</label>
                    <div style="padding:0;padding-left:15px;margin-left:auto;margin-right:0" ng-repeat-start="boot in characterContext.boots track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="right-bottom" set-token="setTokenSlot" unequip="unequipItem" model="boot" label="Feet"></token-selector>
                    </div>
                </div>
                <div style="display:flex;min-width:250px;float:right" ng-show="bootsErrors !== null">
                    <div style="width:20%;"></div>
                    <label style="min-width:210px;" class="error-text">{{bootsErrors}}</label>
                </div>
            </div>
            <div style="min-width:340px;width:50%">
                <center>
                    <div style="width:25%;position:absolute;margin-top:50px">
                        <div ng-if="characterContext.characterClass === 'BARD'">
                            <img src="images/Bard-offhand.png" ng-if="characterContext.meleeOffhand.itemId !== null" width="425px" alt="" style="z-index:0;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-back.png" ng-if="characterContext.backs[0].itemId !== null" width="425px" alt="" style="z-index:1;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-mainhand.png" ng-if="characterContext.meleeMainhand.itemId !== null" width="425px" alt="" style="z-index:2;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-body.png" width="425px" alt="" style="z-index:3;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-censored.png" ng-if="characterContext.legs[0].itemId === null" width="425px" alt="" style="z-index:4;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-feet.png" ng-if="characterContext.boots[0].itemId !== null" width="425px" alt="" style="z-index:5;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-pants.png" ng-if="characterContext.legs[0].itemId !== null" width="425px" alt="" style="z-index:6;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-shirt.png" ng-if="characterContext.shirt[0].itemId !== null" width="425px" alt="" style="z-index:7;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-torso.png" ng-if="characterContext.torso.itemId !== null" width="425px" alt="" style="z-index:8;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-waist.png" ng-if="characterContext.waist[0].itemId !== null" width="425px" alt="" style="z-index:9;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-ranged.png" ng-if="characterContext.rangedMainhand.itemId !== null" width="425px" alt="" style="z-index:10;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-instrument.png" ng-if="characterContext.instruments[0].itemId !== null" width="425px" alt="" style="z-index:11;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-arm.png" width="425px" alt="" style="z-index:12;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-head.png" width="425px" alt="" style="z-index:13;position:absolute;margin-top:25px;padding:0px"/>
                            <img src="images/Bard-hat.png" ng-if="characterContext.heads[0].itemId !== null" width="425px" alt="" style="z-index:14;position:absolute;margin-top:25px;padding:0px"/>
                        </div>
                    </div>
                    <img src="images/Barbarian.png" ng-if="characterContext.characterClass === 'BARBARIAN'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Cleric.png" ng-if="characterContext.characterClass === 'CLERIC'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Druid.png" ng-if="characterContext.characterClass === 'DRUID'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Dwarf.png" ng-if="characterContext.characterClass === 'DWARF_FIGHTER'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Elf.png" ng-if="characterContext.characterClass === 'ELF_WIZARD'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Fighter.png" ng-if="characterContext.characterClass === 'FIGHTER'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Monk.png" ng-if="characterContext.characterClass === 'MONK'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Paladin.png" ng-if="characterContext.characterClass === 'PALADIN'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Ranger.png" ng-if="characterContext.characterClass === 'RANGER'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Rogue.png" ng-if="characterContext.characterClass === 'ROGUE'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                    <img src="images/Wizard.png" ng-if="characterContext.characterClass === 'WIZARD'" width="425px" alt="" style="margin-top:25px;padding:0px"/>
                </center>
            </div>
            <div style="min-width:250px;width:25%">
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="eye in characterContext.eyes track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left-top" set-token="setTokenSlot" unequip="unequipItem" model="eye" label="Eyes"></token-selector>
                    </div>
                    <label class="text-left" ng-class="{'error-text': eyeErrors !== null}" style="font-size:28px;padding-left:5px;margin-top:8px">:Eyes</label>
                </div>
                <div style="display:flex;" ng-show="eyeErrors !== null">
                    <label style="min-width:210px;" class="error-text">{{eyeErrors}}</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="ear in characterContext.ears track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left-top" set-token="setTokenSlot" unequip="unequipItem" model="ear" label="Ears"></token-selector>
                    </div>
                    <label class="text-left" style="font-size:28px;padding-left:5px;margin-top:8px">Ears</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="neck in characterContext.necks track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left" set-token="setTokenSlot" unequip="unequipItem" model="neck" label="Neck"></token-selector>
                    </div>
                    <label class="text-left" style="font-size:28px;padding-left:5px;margin-top:8px">Neck</label>
                </div>
                <div style="display:flex;" ng-show="characterContext.neck.slotStatus === 'INVALID'">
                    <label style="min-width:210px;" class="error-text">{{characterContext.neck.statusText}}</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="shir in characterContext.shirt track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left" set-token="setTokenSlot" unequip="unequipItem" model="shir" label="Shirt"></token-selector>
                    </div>
                    <label class="text-left" ng-class="{'error-text': shirtErrors !== null}" style="font-size:28px;padding-left:5px;margin-top:8px">:Shirt</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="back in characterContext.backs track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left" set-token="setTokenSlot" unequip="unequipItem" model="back" label="Back"></token-selector>
                    </div>
                    <label class="text-left" ng-class="{'error-text': backErrors !== null}" style="font-size:28px;padding-left:5px;margin-top:8px">:Back</label>
                </div>
                <div style="display:flex;" ng-show="backErrors !== null">
                    <label style="min-width:210px;" class="error-text">{{backErrors}}</label>
                </div>
                <div style="display:flex;margin-top:10px;height:60px">
                    <div ng-if="characterContext.rings !== null" style="padding:0;width:70px" ng-repeat-start="ring in characterContext.rings track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left" set-token="setTokenSlot" unequip="unequipItem" model="ring" label="Ring"></token-selector>
                    </div>
                    <img ng-if="characterContext.rings.length === 0" class="img-thumbnail img-responsive img-circle" style="border:none;" src="images/nullToken.jpg" alt="images/nullToken.jpg" width="60px">
                    <label class="text-left" ng-class="{'error-text': ringErrors !== null}" style="font-size:28px;padding-left:5px;margin-top:8px">:Rings</label>
                </div>
                <div style="display:flex;" ng-show="ringErrors !== null">
                    <label style="min-width:210px;" class="error-text">{{ringErrors}}</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="figurine in characterContext.figurines track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left-bottom" set-token="setTokenSlot" unequip="unequipItem" model="figurine" label="Figurine"></token-selector>
                    </div>
                    <label class="text-left" style="font-size:28px;padding-left:5px;margin-top:8px">:Figurine</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="runestone in characterContext.runestones track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left-bottom" set-token="setTokenSlot" unequip="unequipItem" model="runestone" label="Runestone"></token-selector>
                    </div>
                    <label class="text-left" style="font-size:28px;padding-left:5px;margin-top:8px">:Runestones</label>
                </div>
                <div style="display:flex;margin-top:10px">
                    <div style="padding:0;width:70px" ng-repeat-start="safehold in characterContext.safeholds track by $index" ng-repeat-end>
                        <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="left-bottom" set-token="setTokenSlot" unequip="unequipItem" model="safehold" label="Safehold"></token-selector>
                    </div>
                    <label class="text-left" style="font-size:28px;padding-left:5px;margin-top:8px">:Safehold</label>
                </div>
            </div>
        </div>
        <center>
            <div style="display:flex;max-width:866px;margin-top:15px">
                <div class="text-center" style="padding:0;width:25%">
                    <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" model="characterContext.meleeMainhand" label="Melee Weapon"></token-selector>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <img ng-if="characterContext.meleeOffhand === null" class="img-thumbnail img-responsive img-circle" style="border:none;" src="images/nullToken.jpg" alt="images/nullToken.jpg" width="60px" >
                    <token-selector editable="characterContext.editable" ng-if="characterContext.meleeOffhand !== null" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" model="characterContext.meleeOffhand" label="Melee Offhand"></token-selector>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem"  model="characterContext.rangedMainhand" label="Range Weapon"></token-selector>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <img ng-if="characterContext.rangedOffhand === null" class="img-thumbnail img-responsive img-circle" style="border:none;" src="images/nullToken.jpg" alt="images/nullToken.jpg" width="60px" >
                    <token-selector editable="characterContext.editable" ng-if="characterContext.rangedOffhand !== null" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" model="characterContext.rangedOffhand" label="Range Offhand"></token-selector>
                </div>
            </div>
        </center>
        <center>
            <div style="display:flex;max-width:866px;margin-bottom:15px;">
                <div class="text-center" style="padding:0;width:25%">
                    <label ng-class="{'error-text': characterContext.meleeMainhand.slotStatus === 'INVALID'}" style="font-size:28px;">Main Hand</label>
                    <label class="error-text">{{characterContext.meleeMainhand.statusText}}</label>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <label ng-class="{'error-text': characterContext.meleeOffhand.slotStatus === 'INVALID'}" style="font-size:28px;">Offhand</label>
                    <label class="error-text">{{characterContext.meleeOffhand.statusText}}</label>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <label ng-class="{'error-text': characterContext.rangedMainhand.slotStatus === 'INVALID'}" style="font-size:28px;">Ranged Main</label>
                    <label class="error-text">{{characterContext.rangedMainhand.statusText}}</label>
                </div>
                <div class="text-center" style="padding:0;width:25%">
                    <label ng-class="{'error-text': characterContext.rangedOffhand.slotStatus === 'INVALID'}" style="font-size:28px;">Ranged Offhand</label>
                    <label class="error-text">{{characterContext.rangedOffhand.statusText}}</label>
                </div>
            </div>
        </center>
        <center ng-if="characterContext.characterClass === 'BARD'">
            <div style="display:flex;max-width:750px;margin-top:0px;margin-bottom:15px;">
                <label  style="font-size:28px;padding-left:5px;margin-top:8px">Instruments:</label>
                <div style="padding:0;width:70px" ng-repeat-start="instrument in characterContext.instruments track by $index" ng-repeat-end>
                    <token-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" placement="top" set-token="setTokenSlot" unequip="unequipItem" model="instrument" label="Instrument"></token-selector>
                </div>
            </div>
        </center>
        <center style="margin-bottom:15px">
            Token images are the property of True Adventures, LTD. and may only be used with the express written consent of True Adventures, LTD.
        </center>
    </div>
    <div ng-show="interactive === false" style="margin-right:200px;margin-left:10px">
        <div class="col-xs-12" style="margin-top:10px;padding:0" ng-if="characterContext.meleeMainhand !== null">
            <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="meleeMainhand" model="characterContext.meleeMainhand" label="Melee Weapon"></item-desktop-selector>
        </div>
        <div class="col-xs-12" style="padding:0" ng-if="characterContext.meleeOffhand !== null">
            <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="meleeOffhand" model="characterContext.meleeOffhand" label="Melee Offhand"></item-desktop-selector>
        </div>
        <div class="col-xs-12" style="padding:0" ng-if="characterContext.rangedMainhand !== null">
            <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="rangedMainhand" model="characterContext.rangedMainhand" label="Range Weapon"></item-desktop-selector>
        </div>
        <div class="col-xs-12" style="padding:0" ng-if="characterContext.rangedOffhand !== null">
            <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="rangedOffhand" model="characterContext.rangedOffhand" label="Range Offhand"></item-desktop-selector>
        </div>
        <div ng-if="characterContext.instruments !== null && characterContext.instruments.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="instrument in characterContext.instruments track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="instrument{{$index}}" model="instrument" label="Instrument"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.heads !== null && characterContext.heads.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="head in characterContext.heads track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="head{{$index}}" model="head" label="Head"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.eyes !== null && characterContext.eyes.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="eye in characterContext.eyes track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="eye{{$index}}" model="eye" label="Eyes"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.ears !== null && characterContext.ears.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="ear in characterContext.ears track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="ear{{$index}}" model="ear" label="Ear"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.necks !== null && characterContext.necks.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="neck in characterContext.necks track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="neck{{$index}}" model="neck" label="Neck"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.bead !== null && characterContext.bead.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="bea in characterContext.bead track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="bead{{$index}}" model="bea" label="Bead"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.torsos !== null && characterContext.torsos.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="torso in characterContext.torsos track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="torso{{$index}}" model="torso" label="Torso"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.wrists !== null && characterContext.wrists.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="wrist in characterContext.wrists track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="wrist{{$index}}" model="wrist" label="Wrists"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.hands !== null && characterContext.hands.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="hand in characterContext.hands track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="hand{{$index}}" model="hand" label="Hand"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.backs !== null && characterContext.backs.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="back in characterContext.backs track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="back{{$index}}" model="back" label="Back"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.rings !== null && characterContext.rings.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="ring in characterContext.rings track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="ring{{$index}}" model="ring" label="Ring"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.waist !== null && characterContext.waist.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="belt in characterContext.waist track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="belt{{$index}}" model="belt" label="Waist"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.shirt !== null && characterContext.shirt.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="shir in characterContext.shirt track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="shir{{$index}}" model="shir" label="Shirt"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.legs !== null && characterContext.legs.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="leg in characterContext.legs track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="leg{{$index}}" model="leg" label="Legs"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.shins !== null && characterContext.shins.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="shin in characterContext.shins track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="shin{{$index}}" model="shin" label="Shins"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.boots !== null && characterContext.boots.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="boot in characterContext.boots track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="boot{{$index}}" model="boot" label="Feet"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.charms !== null && characterContext.charms.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="charm in characterContext.charms track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="charm{{$index}}" model="charm" label="Charm"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.iounStones !== null && characterContext.iounStones.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="iounStone in characterContext.iounStones track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="iounStone{{$index}}" model="iounStone" label="Ioun Stone"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.slotless !== null && characterContext.slotless.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="slotlessItem in characterContext.slotless track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="slotlessItem{{$index}}" model="slotlessItem" label="Slotless"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.figurines !== null && characterContext.figurines.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="figurine in characterContext.figurines track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="figurine{{$index}}" model="figurine" label="Figurine"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.runestones !== null && characterContext.runestones.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="runestone in characterContext.runestones track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="runestone{{$index}}" model="runestone" label="Runestone"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.safeholds !== null && characterContext.safeholds.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="safehold in characterContext.safeholds track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="safehold{{$index}}" model="safehold" label="Safehold"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.hirelings !== null && characterContext.hirelings.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="hireling in characterContext.hirelings track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="hireling{{$index}}" model="hireling" label="Hirelings"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.underlings !== null && characterContext.underlings.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="underling in characterContext.underlings track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="underling{{$index}}" model="underling" label="Underlings"></item-desktop-selector>
            </div>
        </div>
        <div ng-if="characterContext.followers !== null && characterContext.followers.length > 0">
            <div class="col-xs-12" style="padding:0" ng-repeat-start="follower in characterContext.followers track by $index" ng-repeat-end>
                <item-desktop-selector editable="characterContext.editable" character-class="{{characterContext.characterClass}}" set-token="setTokenSlot" unequip="unequipItem" element-id="follower{{$index}}" model="follower" label="Followers"></item-desktop-selector>
            </div>
        </div>
        <center style="margin-bottom:15px">
            Token images are the property of True Adventures, LTD. and may only be used with the express written consent of True Adventures, LTD.
        </center>
    </div>
</div>

