<div style="margin:15px;background-color: #ffffff">
    <form name="userForm" novalidate>
        <div class="row">
            <div class="col-md-4" >
                <label>Username</label>
                <input ng-model="user.username" type="text" class="form-control" id="userName" name="userName" placeholder="User Name" required ng-maxlength="255"/>
            </div>
            <div class="col-md-4">
                <label>First Name</label>
                <input ng-model="user.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required ng-maxlength="255"/>
            </div>
            <div class="col-md-4">
                <label>Last Name</label>
                <input ng-model="user.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required ng-maxlength="255"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Password</label>
                <input ng-model="user.password" type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password" ng-maxlength="255"/>
            </div> 

            <div class="col-md-4">
                <label>Email</label>
                <input ng-model="user.email" type="text" class="form-control" id="userEmail" name="userEmail" placeholder="Email" ng-maxlength="255"/>
            </div> 

            <div class="col-md-4" >
                <label>Last Accessed</label>
                <input value="{{user.lastAccessed | date: 'MM/dd/yyyy hh:mm:ss a'}}" type="text" class="form-control" ng-readonly="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="checkbox-inline" style="padding-top: 35px"><input type="checkbox" ng-model="user.locked">User is Locked?</label>
            </div> 
        </div>
        <div class="row" style="margin-top:15px;margin-left:10px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="user.admin">Admin</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="user.systemUser">System User</label>
        </div>
    </form>
   
    <div class="text-right" style="margin-top:15px">
        <button class="btn btn-primary" ng-click="edit()">
            <span class="fa fa-save" ></span> Save 
        </button>
        <a href="#/users/viewAll"> 
            <span class="btn btn-default">
                <span class="fa fa-ban"></span> Cancel
            </span>
        </a>
    </div>
</div>


