<div ng-click="openModal()" style="display:flex;margin-bottom:10px">
    <div style="width:225px;padding-right:10px">
        <label class="text-right" style="font-size:28px;margin-top:30px;width:225px" ng-class="{'error-text': model.slotStatus === 'INVALID'}">{{label}}:</label>
    </div>
    <div style="width:100px">
        <img class="img-thumbnail img-responsive img-circle" ng-src="{{model.itemId === null && 'images/empty.jpg' || imgBaseURL+model.imgName+'.jpg'}}" alt="" width="100px" style="border:none" 
             ng-class="{ 'common-token': model.rarity === 'COMMON', 'reward-token': model.rarity === 'PLAYER_REWARD', 'uncommon-token': model.rarity === 'UNCOMMON', 'rare-token': model.rarity === 'RARE', 'ultrarare-token': model.rarity === 'ULTRARARE', 'enhanced-token': model.rarity === 'ENHANCED', 'exalted-token': model.rarity === 'EXALTED', 'relic-token': model.rarity === 'RELIC', 'legendary-token': model.rarity === 'LEGENDARY', 'eldritch-token': model.rarity === 'ELDRITCH', 'premium-token': model.rarity === 'PREMIUM', 'artifact-token': model.rarity === 'ARTIFACT' }"> 
    </div>
    <div style="flex:1;margin-top:10px;">
        <div class="col-xs-12" style="font-weight:bold;padding-right:0px">
            {{model.name}}
        </div>
        <div class="col-xs-12" style=";padding-right:0px">
            {{model.text}}&nbsp;
        </div>
        <div class="col-xs-12 error-text" style="padding-right:0px" ng-if="model.slotStatus === 'INVALID'">
            {{model.statusText}}
        </div>
    </div>
</div>

