
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <label>Name:</label>
                <input class="form-control" type="text" ng-model="name"/>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Class:</label><br>
            <span ng-class="{'btn-info' : characterClassSelected(charClass), 'btn-default' : !characterClassSelected(charClass)}" ng-click="toggleCharacterClassSelected(charClass);" class="btn" ng-repeat-start="charClass in characterClasses" ng-repeat-end="">
                {{charClass | lowercase | capitalize}}
            </span>
        </div>
    </div>
        <div class="row col-md-12 text-right" style="margin-top:15px;margin-bottom:15px">
            <button class="btn btn-primary" ng-click="createCharacter()">
                <span class="fa fa-save" ></span> Save 
            </button>
        </div>
    </div>

