<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.tdcc.token.admin.persistence.TokenAdminMapper">
    
    <insert id="addToken">
        INSERT INTO token ( id,
                            name,
                            text,
                            rarity,
                            slot,
                            barbarian,
                            bard,
                            cleric,
                            druid,
                            fighter,
                            wizard,
                            monk,
                            paladin,
                            ranger,
                            rogue )
                   VALUES ( #{id},
                            #{name},
                            #{text},
                            #{rarity},
                            #{slot},
                            #{usableByBarbarian},
                            #{usableByBard},
                            #{usableByCleric},
                            #{usableByDruid},
                            #{usableByFighter}, 
                            #{usableByWizard},
                            #{usableByMonk},
                            #{usableByPaladin},
                            #{usableByRanger},
                            #{usableByRogue})
    </insert>
    
    <insert id="addTokenDetails">
        INSERT INTO token_details ( id,
                                    str,
                                    dex,
                                    con,
                                    intel,
                                    wis,
                                    cha,
                                    health,
                                    one_hand,
                                    two_hand,
                                    sheild,
                                    thrown,
                                    ranger_off,
                                    instrument,
                                    m_hit,
                                    m_dmg,
                                    m_fire,
                                    m_cold,
                                    m_shock,
                                    m_sonic,
                                    m_eldritch,
                                    m_poison,
                                    m_darkrift,
                                    m_sacred,
                                    m_ac,
                                    range_wep,
                                    r_hit,
                                    r_dmg,
                                    r_fire,
                                    r_cold,
                                    r_shock,
                                    r_sonic,
                                    r_eldritch,
                                    r_poison,
                                    r_darkrift,
                                    r_sacred,
                                    r_ac,
                                    r_acm,
                                    fort,
                                    reflex,
                                    will,
                                    ret_dmg,
                                    ret_fire,
                                    ret_cold,
                                    ret_shock,
                                    ret_sonic,
                                    ret_eldritch,
                                    ret_poison,
                                    ret_darkrift,
                                    ret_sacred,
                                    cbs,
                                    fm,
                                    psy,
                                    s_dmg,
                                    s_heal,
                                    s_resist,
                                    initiative,
                                    treasure,
                                    conditional,
                                    always_in_effect,
                                    once_round,
                                    once_room,
                                    once_game,
                                    special_text)
                           VALUES ( #{id},
                                    #{str},
                                    #{dex},
                                    #{con},
                                    #{intel},
                                    #{wis},
                                    #{cha},
                                    #{health},
                                    #{oneHanded},
                                    #{twoHanded},
                                    #{sheild},
                                    #{thrown},
                                    #{rangerOffhand},
                                    #{instrument},
                                    #{meleeHit},
                                    #{meleeDmg},
                                    #{meleeFire},
                                    #{meleeCold},
                                    #{meleeShock},
                                    #{meleeSonic},
                                    #{meleeEldritch},
                                    #{meleePoison},
                                    #{meleeDarkrift},
                                    #{meleeSacred},
                                    #{meleeAC},
                                    #{rangedWeapon},
                                    #{rangeHit},
                                    #{rangeDmg},
                                    #{rangeFire},
                                    #{rangeCold},
                                    #{rangeShock},
                                    #{rangeSonic},
                                    #{rangeEldritch},
                                    #{rangePoison},
                                    #{rangeDarkrift},
                                    #{rangeSacred},
                                    #{rangeAC},
                                    #{rangeMissileAC},
                                    #{fort},
                                    #{reflex},
                                    #{will},
                                    #{retDmg},
                                    #{retFire},
                                    #{retCold},
                                    #{retShock},
                                    #{retSonic},
                                    #{retEldritch},
                                    #{retPoison},
                                    #{retDarkrift},
                                    #{retSacred},
                                    #{cannotBeSuprised},
                                    #{freeMovement},
                                    #{psychic},
                                    #{spellDmg},
                                    #{spellHeal},
                                    #{spellResist},
                                    #{initiative},
                                    #{treasure},
                                    #{conditionalUse},
                                    #{alwaysInEffect},
                                    #{oncePerRound},
                                    #{oncePerRoom},
                                    #{oncePerGame},
                                    #{specialText});
    </insert>
    
    <update id="editToken">      
        UPDATE token SET
            name = #{name},
            text = #{text},
            rarity = #{rarity},
            slot = #{slot},
            barbarian = #{usableByBarbarian},
            bard = #{usableByBard},
            cleric = #{usableByCleric},
            druid = #{usableByDruid},
            fighter = #{usableByFighter}, 
            wizard = #{usableByWizard},
            monk = #{usableByMonk},
            paladin = #{usableByPaladin},
            ranger = #{usableByRanger},
            rogue = #{usableByRogue}      
         WHERE id = #{id}
    </update>  
    
    <update id="editTokenDetails">      
        UPDATE token_details SET
            str = #{str},
            dex = #{dex},
            con = #{con},
            intel = #{intel},
            wis = #{wis},
            cha = #{cha},
            health = #{health},
            one_hand = #{oneHanded},
            two_hand = #{twoHanded},
            sheild = #{sheild},
            thrown = #{thrown},
            ranger_off = #{rangerOffhand},
            instrument = #{instrument},
            m_hit = #{meleeHit},
            m_dmg = #{meleeDmg},
            m_fire = #{meleeFire},
            m_cold = #{meleeCold},
            m_shock = #{meleeShock},
            m_sonic = #{meleeSonic},
            m_eldritch = #{meleeEldritch},
            m_poison = #{meleePoison},
            m_darkrift = #{meleeDarkrift},
            m_sacred = #{meleeSacred},
            m_ac = #{meleeAC},
            range_wep = #{rangedWeapon},
            r_hit = #{rangeHit},
            r_dmg = #{rangeDmg},
            r_fire = #{rangeFire},
            r_cold = #{rangeCold},
            r_shock = #{rangeShock},
            r_sonic = #{rangeSonic},
            r_eldritch = #{rangeEldritch},
            r_poison = #{rangePoison},
            r_darkrift = #{rangeDarkrift},
            r_sacred = #{rangeSacred},
            r_ac = #{rangeAC},
            r_acm = #{rangeMissileAC},
            fort = #{fort},
            reflex = #{reflex},
            will = #{will},
            ret_dmg = #{retDmg},
            ret_fire = #{retFire},
            ret_cold = #{retCold},
            ret_shock = #{retShock},
            ret_sonic = #{retSonic},
            ret_eldritch = #{retEldritch},
            ret_poison = #{retPoison},
            ret_darkrift = #{retDarkrift},
            ret_sacred = #{retSacred},
            cbs = #{cannotBeSuprised},
            fm = #{freeMovement},
            psy = #{psychic},
            s_dmg = #{spellDmg},
            s_heal = #{spellHeal},
            s_resist = #{spellResist},
            initiative = #{initiative},
            treasure = #{treasure},
            conditional = #{conditionalUse},
            always_in_effect = #{alwaysInEffect},
            once_round = #{oncePerRound},
            once_room = #{oncePerRoom},
            once_game = #{oncePerGame},
            special_text = #{specialText}
         WHERE id = #{id}
    </update>  
                       
    <select id="search" resultType="com.achersoft.tdcc.token.admin.dao.TokenFullDetails"> 
         SELECT t.id 'id',
                t.name 'name',
                t.text 'text',
                t.rarity 'rarity',
                t.slot 'slot',
                t.barbarian 'usableByBarbarian',
                t.bard 'usableByBard',
                t.cleric 'usableByCleric',
                t.druid 'usableByDruid',
                t.fighter 'usableByFighter',
                t.wizard 'usableByWizard',
                t.monk 'usableByMonk',
                t.paladin 'usableByPaladin',
                t.ranger 'usableByRanger',
                t.rogue 'usableByRogue',
                td.str 'str',
                td.dex 'dex',
                td.con 'con',
                td.intel 'intel',
                td.wis 'wis',
                td.cha 'cha',
                td.health 'health',
                td.one_hand 'oneHanded',
                td.two_hand 'twoHanded',
                td.sheild 'sheild',
                td.thrown 'thrown',
                td.ranger_off 'rangerOffhand',
                td.instrument 'instrument',
                td.m_hit 'meleeHit',
                td.m_dmg 'meleeDmg',
                td.m_fire 'meleeFire',
                td.m_cold 'meleeCold',
                td.m_shock 'meleeShock',
                td.m_sonic 'meleeSonic',
                td.m_eldritch 'meleeEldritch',
                td.m_poison 'meleePoison',
                td.m_darkrift 'meleeDarkrift',
                td.m_sacred 'meleeSacred', 
                td.m_ac 'meleeAC',
                td.range_wep 'rangedWeapon',
                td.r_hit 'rangeHit',
                td.r_dmg 'rangeDmg',
                td.r_fire 'rangeFire',
                td.r_cold 'rangeCold',
                td.r_shock 'rangeShock',
                td.r_sonic 'rangeSonic',
                td.r_eldritch 'rangeEldritch',
                td.r_poison 'rangePoison',
                td.r_darkrift 'rangeDarkrift',
                td.r_sacred 'rangeSacred',
                td.r_ac 'rangeAC',
                td.r_acm 'rangeMissileAC',
                td.fort 'fort',
                td.reflex 'reflex',
                td.will 'will',
                td.ret_dmg 'retDmg',
                td.ret_fire 'retFire',
                td.ret_cold 'retCold',
                td.ret_shock 'retShock',
                td.ret_sonic 'retSonic',
                td.ret_eldritch 'retEldritch',
                td.ret_poison 'retPoison',
                td.ret_darkrift 'retDarkrift',
                td.ret_sacred 'retSacred',
                td.cbs 'cannotBeSuprised',
                td.fm 'freeMovement',
                td.psy 'psychic',
                td.s_dmg 'spellDmg',
                td.s_heal 'spellHeal',
                td.s_resist 'spellResist',
                td.initiative 'initiative',
                td.treasure 'treasure',
                td.conditional 'conditionalUse',
                td.always_in_effect 'alwaysInEffect',
                td.once_round 'oncePerRound',
                td.once_room 'oncePerRoom',
                td.once_game 'oncePerGame',
                td.special_text 'specialText'
           FROM token t,
                token_details td
          WHERE t.id = td.id
            AND t.name like #{name}
       GROUP BY t.name
          LIMIT 10
    </select>
</mapper>                          