<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.tdcc.token.admin.persistence.TokenAdminMapper">
    
    <insert id="addToken">
        INSERT INTO token ( id,
                            name,
                            text,
                            rarity,
                            slot,
                            barbarian,
                            bard,
                            cleric,
                            druid,
                            dwarf_fighter,
                            elf_wizard,
                            fighter,
                            wizard,
                            monk,
                            paladin,
                            ranger,
                            rogue )
                   VALUES ( #{id},
                            #{name},
                            #{text},
                            #{rarity},
                            #{slot},
                            #{usableByBarbarian},
                            #{usableByBard},
                            #{usableByCleric},
                            #{usableByDruid},
                            #{usableByDwarfFighter},
                            #{usableByElfWizard},
                            #{usableByFighter}, 
                            #{usableByWizard},
                            #{usableByMonk},
                            #{usableByPaladin},
                            #{usableByRanger},
                            #{usableByRogue})
    </insert>
    
    <insert id="addTokenDetails">
        INSERT INTO token_details ( id,
                                    damage_range,
                                    damage_explode_range,
                                    explode_condition,
                                    explode_text,
                                    crit_min,
                                    str,
                                    dex,
                                    con,
                                    intel,
                                    wis,
                                    cha,
                                    health,
                                    regen,
                                    one_hand,
                                    two_hand,
                                    shield,
                                    buckler,
                                    mug,
                                    thrown,
                                    ranger_off,
                                    instrument,
                                    monk_offhand,
                                    shuriken,
                                    bracer_weapon,
                                    m_hit,
                                    m_dmg,
                                    m_poly_hit,
                                    m_poly_dmg,
                                    m_fire,
                                    m_cold,
                                    m_shock,
                                    m_sonic,
                                    m_eldritch,
                                    m_poison,
                                    m_darkrift,
                                    m_sacred,
                                    m_ac,
                                    range_wep,
                                    r_hit,
                                    r_dmg,
                                    r_fire,
                                    r_cold,
                                    r_shock,
                                    r_sonic,
                                    r_eldritch,
                                    r_poison,
                                    r_darkrift,
                                    r_sacred,
                                    r_ac,
                                    r_acm,
                                    fort,
                                    reflex,
                                    will,
                                    ret_dmg,
                                    ret_fire,
                                    ret_cold,
                                    ret_shock,
                                    ret_sonic,
                                    ret_eldritch,
                                    ret_poison,
                                    ret_darkrift,
                                    ret_sacred,
                                    cbs,
                                    fm,
                                    psy,
                                    possession,
                                    add_level,
                                    wonder,
                                    three_ring,
                                    no_ring,
                                    s_dmg,
                                    s_heal,
                                    s_resist,
                                    initiative,
                                    treasure_min,
                                    treasure_max,
                                    dr_melee,
                                    dr_range,
                                    dr_spell,
                                    dr_fire,
                                    dr_cold,
                                    dr_shock,
                                    dr_sonic,
                                    dr_eldritch,
                                    dr_posion,
                                    dr_darkrift,
                                    dr_sacred,
                                    dr_force,
                                    head_slots,
                                    back_slots,
                                    stone_slots,
                                    charm_slots,
                                    conditional,
                                    always_in_effect,
                                    once_round,
                                    once_room,
                                    once_game,
                                    special_text)
                           VALUES ( #{id},
                                    #{damageRange},
                                    #{damageExplodeRange},
                                    #{weaponExplodeCondition},
                                    #{weaponExplodeText},
                                    #{critMin},
                                    #{str},
                                    #{dex},
                                    #{con},
                                    #{intel},
                                    #{wis},
                                    #{cha},
                                    #{health},
                                    #{regen},
                                    #{oneHanded},
                                    #{twoHanded},
                                    #{shield},
                                    #{buckler},
                                    #{mug},
                                    #{thrown},
                                    #{rangerOffhand},
                                    #{instrument},
                                    #{monkOffhand},
                                    #{shuriken},
                                    #{bracerWeapon},
                                    #{meleeHit},
                                    #{meleeDmg},
                                    #{meleePolyHit},
                                    #{meleePolyDmg},
                                    #{meleeFire},
                                    #{meleeCold},
                                    #{meleeShock},
                                    #{meleeSonic},
                                    #{meleeEldritch},
                                    #{meleePoison},
                                    #{meleeDarkrift},
                                    #{meleeSacred},
                                    #{meleeAC},
                                    #{rangedWeapon},
                                    #{rangeHit},
                                    #{rangeDmg},
                                    #{rangeFire},
                                    #{rangeCold},
                                    #{rangeShock},
                                    #{rangeSonic},
                                    #{rangeEldritch},
                                    #{rangePoison},
                                    #{rangeDarkrift},
                                    #{rangeSacred},
                                    #{rangeAC},
                                    #{rangeMissileAC},
                                    #{fort},
                                    #{reflex},
                                    #{will},
                                    #{retDmg},
                                    #{retFire},
                                    #{retCold},
                                    #{retShock},
                                    #{retSonic},
                                    #{retEldritch},
                                    #{retPoison},
                                    #{retDarkrift},
                                    #{retSacred},
                                    #{cannotBeSuprised},
                                    #{freeMovement},
                                    #{psychic},
                                    #{possession},
                                    #{addLevel},
                                    #{wonderEffect},
                                    #{setRingsThree},
                                    #{noRings},
                                    #{spellDmg},
                                    #{spellHeal},
                                    #{spellResist},
                                    #{initiative},
                                    #{treasureMin},
                                    #{treasureMax},
                                    #{drMelee},
                                    #{drRange},
                                    #{drSpell},
                                    #{drFire},
                                    #{drCold},
                                    #{drShock},
                                    #{drSonic},
                                    #{drEldritch},
                                    #{drPoison},
                                    #{drDarkrift},
                                    #{drSacred},
                                    #{drForce},
                                    #{headSlots},
                                    #{backSlots},
                                    #{stoneSlots},
                                    #{charmSlots},
                                    #{conditionalUse},
                                    #{alwaysInEffect},
                                    #{oncePerRound},
                                    #{oncePerRoom},
                                    #{oncePerGame},
                                    #{specialText});
    </insert>
    
    <update id="editToken">      
        UPDATE token SET
            name = #{name},
            text = #{text},
            rarity = #{rarity},
            slot = #{slot},
            barbarian = #{usableByBarbarian},
            bard = #{usableByBard},
            cleric = #{usableByCleric},
            druid = #{usableByDruid},
            dwarf_fighter = #{usableByDwarfFighter},
            elf_wizard = #{usableByElfWizard},
            fighter = #{usableByFighter}, 
            wizard = #{usableByWizard},
            monk = #{usableByMonk},
            paladin = #{usableByPaladin},
            ranger = #{usableByRanger},
            rogue = #{usableByRogue}      
         WHERE id = #{id}
    </update>  
    
    <update id="editTokenDetails">      
        UPDATE token_details SET
            damage_range = #{damageRange},
            damage_explode_range = #{damageExplodeRange},
            explode_condition = #{weaponExplodeCondition},
            explode_text = #{weaponExplodeText},
            crit_min = #{critMin},
            str = #{str},
            dex = #{dex},
            con = #{con},
            intel = #{intel},
            wis = #{wis},
            cha = #{cha},
            health = #{health},
            regen = #{regen},
            one_hand = #{oneHanded},
            two_hand = #{twoHanded},
            shield = #{shield},
            buckler = #{buckler},
            mug = #{mug},
            thrown = #{thrown},
            ranger_off = #{rangerOffhand},
            instrument = #{instrument},
            monk_offhand = #{monkOffhand},
            shuriken = #{shuriken},
            bracer_weapon = #{bracerWeapon},
            m_hit = #{meleeHit},
            m_dmg = #{meleeDmg},
            m_poly_hit = #{meleePolyHit},
            m_poly_dmg = #{meleePolyDmg},
            m_fire = #{meleeFire},
            m_cold = #{meleeCold},
            m_shock = #{meleeShock},
            m_sonic = #{meleeSonic},
            m_eldritch = #{meleeEldritch},
            m_poison = #{meleePoison},
            m_darkrift = #{meleeDarkrift},
            m_sacred = #{meleeSacred},
            m_ac = #{meleeAC},
            range_wep = #{rangedWeapon},
            r_hit = #{rangeHit},
            r_dmg = #{rangeDmg},
            r_fire = #{rangeFire},
            r_cold = #{rangeCold},
            r_shock = #{rangeShock},
            r_sonic = #{rangeSonic},
            r_eldritch = #{rangeEldritch},
            r_poison = #{rangePoison},
            r_darkrift = #{rangeDarkrift},
            r_sacred = #{rangeSacred},
            r_ac = #{rangeAC},
            r_acm = #{rangeMissileAC},
            fort = #{fort},
            reflex = #{reflex},
            will = #{will},
            ret_dmg = #{retDmg},
            ret_fire = #{retFire},
            ret_cold = #{retCold},
            ret_shock = #{retShock},
            ret_sonic = #{retSonic},
            ret_eldritch = #{retEldritch},
            ret_poison = #{retPoison},
            ret_darkrift = #{retDarkrift},
            ret_sacred = #{retSacred},
            cbs = #{cannotBeSuprised},
            fm = #{freeMovement},
            psy = #{psychic},
            possession = #{possession},
            add_level = ${addLevel},
            wonder = ${wonderEffect},
            three_ring = ${setRingsThree},
            no_ring = ${noRings},
            s_dmg = #{spellDmg},
            s_heal = #{spellHeal},
            s_resist = #{spellResist},
            initiative = #{initiative},
            treasure_min = #{treasureMin},
            treasure_max = #{treasureMax},
            dr_melee = #{drMelee},
            dr_range = #{drRange},
            dr_spell = #{drSpell},
            dr_fire = #{drFire},
            dr_cold = #{drCold},
            dr_shock = #{drShock},
            dr_sonic = #{drSonic},
            dr_eldritch = #{drEldritch},
            dr_posion = #{drPoison},
            dr_darkrift = #{drDarkrift},
            dr_sacred = #{drSacred},
            dr_force = #{drForce},
            head_slots = #{headSlots},
            back_slots = #{backSlots},
            stone_slots = #{stoneSlots},
            charm_slots = #{charmSlots},
            conditional = #{conditionalUse},
            always_in_effect = #{alwaysInEffect},
            once_round = #{oncePerRound},
            once_room = #{oncePerRoom},
            once_game = #{oncePerGame},
            special_text = #{specialText}
         WHERE id = #{id}
    </update>

    <select id="search" resultType="com.achersoft.tdcc.token.admin.dao.TokenFullDetails"> 
         SELECT t.id 'id',
                td.damage_range 'damageRange',
                td.damage_explode_range 'damageExplodeRange',
                td.explode_condition 'weaponExplodeCondition',
                td.explode_text 'weaponExplodeText',
                td.crit_min 'critMin',
                t.name 'name',
                t.text 'text',
                t.rarity 'rarity',
                t.slot 'slot',
                t.barbarian 'usableByBarbarian',
                t.bard 'usableByBard',
                t.cleric 'usableByCleric',
                t.druid 'usableByDruid',
                t.dwarf_fighter 'usableByDwarfFighter',
                t.elf_wizard 'usableByElfWizard',
                t.fighter 'usableByFighter',
                t.wizard 'usableByWizard',
                t.monk 'usableByMonk',
                t.paladin 'usableByPaladin',
                t.ranger 'usableByRanger',
                t.rogue 'usableByRogue',
                td.str 'str',
                td.dex 'dex',
                td.con 'con',
                td.intel 'intel',
                td.wis 'wis',
                td.cha 'cha',
                td.health 'health',
                td.regen 'regen',
                td.one_hand 'oneHanded',
                td.two_hand 'twoHanded',
                td.shield 'shield',
                td.buckler 'buckler',
                td.mug 'mug',
                td.thrown 'thrown',
                td.ranger_off 'rangerOffhand',
                td.instrument 'instrument',
                td.monk_offhand 'monkOffhand',
                td.shuriken 'shuriken',
                td.bracer_weapon 'bracerWeapon',
                td.m_hit 'meleeHit',
                td.m_dmg 'meleeDmg',
                td.m_poly_hit 'meleePolyHit',
                td.m_poly_dmg 'meleePolyDmg',
                td.m_fire 'meleeFire',
                td.m_cold 'meleeCold',
                td.m_shock 'meleeShock',
                td.m_sonic 'meleeSonic',
                td.m_eldritch 'meleeEldritch',
                td.m_poison 'meleePoison',
                td.m_darkrift 'meleeDarkrift',
                td.m_sacred 'meleeSacred', 
                td.m_ac 'meleeAC',
                td.range_wep 'rangedWeapon',
                td.r_hit 'rangeHit',
                td.r_dmg 'rangeDmg',
                td.r_fire 'rangeFire',
                td.r_cold 'rangeCold',
                td.r_shock 'rangeShock',
                td.r_sonic 'rangeSonic',
                td.r_eldritch 'rangeEldritch',
                td.r_poison 'rangePoison',
                td.r_darkrift 'rangeDarkrift',
                td.r_sacred 'rangeSacred',
                td.r_ac 'rangeAC',
                td.r_acm 'rangeMissileAC',
                td.fort 'fort',
                td.reflex 'reflex',
                td.will 'will',
                td.ret_dmg 'retDmg',
                td.ret_fire 'retFire',
                td.ret_cold 'retCold',
                td.ret_shock 'retShock',
                td.ret_sonic 'retSonic',
                td.ret_eldritch 'retEldritch',
                td.ret_poison 'retPoison',
                td.ret_darkrift 'retDarkrift',
                td.ret_sacred 'retSacred',
                td.cbs 'cannotBeSuprised',
                td.fm 'freeMovement',
                td.psy 'psychic',
                td.possession 'possession',
                td.add_level 'addLevel',
                td.wonder 'wonderEffect',
                td.three_ring 'setRingsThree',
                td.no_ring 'noRings',
                td.s_dmg 'spellDmg',
                td.s_heal 'spellHeal',
                td.s_resist 'spellResist',
                td.initiative 'initiative',
                td.treasure_min 'treasureMin',
                td.treasure_max 'treasureMax',
                td.dr_melee 'drMelee',
                td.dr_range 'drRange',
                td.dr_spell 'drSpell',
                td.dr_fire 'drFire',
                td.dr_cold 'drCold',
                td.dr_shock 'drShock',
                td.dr_sonic 'drSonic',
                td.dr_eldritch 'drEldritch',
                td.dr_posion 'drPoison',
                td.dr_darkrift 'drDarkrift',
                td.dr_sacred 'drSacred',
                td.dr_force 'drForce',
                td.head_slots 'headSlots',
                td.back_slots 'backSlots',
                td.stone_slots 'stoneSlots',
                td.charm_slots 'charmSlots',
                td.conditional 'conditionalUse',
                td.always_in_effect 'alwaysInEffect',
                td.once_round 'oncePerRound',
                td.once_room 'oncePerRoom',
                td.once_game 'oncePerGame',
                td.special_text 'specialText'
           FROM token t,
                token_details td
          WHERE t.id = td.id
            AND t.name like #{name}
       GROUP BY t.name
          LIMIT 10
    </select>
    
    <select id="getTokenDetails" resultType="com.achersoft.tdcc.token.admin.dao.TokenFullDetails"> 
         SELECT t.id 'id',
                td.damage_range 'damageRange',
                td.damage_explode_range 'damageExplodeRange',
                td.explode_condition 'weaponExplodeCondition',
                td.explode_text 'weaponExplodeText',
                td.crit_min 'critMin',
                t.name 'name',
                t.text 'text',
                t.rarity 'rarity',
                t.slot 'slot',
                t.barbarian 'usableByBarbarian',
                t.bard 'usableByBard',
                t.cleric 'usableByCleric',
                t.druid 'usableByDruid',
                t.dwarf_fighter 'usableByDwarfFighter',
                t.elf_wizard 'usableByElfWizard',
                t.fighter 'usableByFighter',
                t.wizard 'usableByWizard',
                t.monk 'usableByMonk',
                t.paladin 'usableByPaladin',
                t.ranger 'usableByRanger',
                t.rogue 'usableByRogue',
                td.str 'str',
                td.dex 'dex',
                td.con 'con',
                td.intel 'intel',
                td.wis 'wis',
                td.cha 'cha',
                td.health 'health',
                td.regen 'regen',
                td.one_hand 'oneHanded',
                td.two_hand 'twoHanded',
                td.shield 'shield',
                td.buckler 'buckler',
                td.mug 'mug',
                td.thrown 'thrown',
                td.ranger_off 'rangerOffhand',
                td.instrument 'instrument',
                td.monk_offhand 'monkOffhand',
                td.shuriken 'shuriken',
                td.bracer_weapon 'bracerWeapon',
                td.m_hit 'meleeHit',
                td.m_dmg 'meleeDmg',
                td.m_poly_hit 'meleePolyHit',
                td.m_poly_dmg 'meleePolyDmg',
                td.m_fire 'meleeFire',
                td.m_cold 'meleeCold',
                td.m_shock 'meleeShock',
                td.m_sonic 'meleeSonic',
                td.m_eldritch 'meleeEldritch',
                td.m_poison 'meleePoison',
                td.m_darkrift 'meleeDarkrift',
                td.m_sacred 'meleeSacred', 
                td.m_ac 'meleeAC',
                td.range_wep 'rangedWeapon',
                td.r_hit 'rangeHit',
                td.r_dmg 'rangeDmg',
                td.r_fire 'rangeFire',
                td.r_cold 'rangeCold',
                td.r_shock 'rangeShock',
                td.r_sonic 'rangeSonic',
                td.r_eldritch 'rangeEldritch',
                td.r_poison 'rangePoison',
                td.r_darkrift 'rangeDarkrift',
                td.r_sacred 'rangeSacred',
                td.r_ac 'rangeAC',
                td.r_acm 'rangeMissileAC',
                td.fort 'fort',
                td.reflex 'reflex',
                td.will 'will',
                td.ret_dmg 'retDmg',
                td.ret_fire 'retFire',
                td.ret_cold 'retCold',
                td.ret_shock 'retShock',
                td.ret_sonic 'retSonic',
                td.ret_eldritch 'retEldritch',
                td.ret_poison 'retPoison',
                td.ret_darkrift 'retDarkrift',
                td.ret_sacred 'retSacred',
                td.cbs 'cannotBeSuprised',
                td.fm 'freeMovement',
                td.psy 'psychic',
                td.possession 'possession',
                td.add_level 'addLevel',
                td.wonder 'wonderEffect',
                td.three_ring 'setRingsThree',
                td.no_ring 'noRings',
                td.s_dmg 'spellDmg',
                td.s_heal 'spellHeal',
                td.s_resist 'spellResist',
                td.initiative 'initiative',
                td.treasure_min 'treasureMin',
                td.treasure_max 'treasureMax',
                td.dr_melee 'drMelee',
                td.dr_range 'drRange',
                td.dr_spell 'drSpell',
                td.dr_fire 'drFire',
                td.dr_cold 'drCold',
                td.dr_shock 'drShock',
                td.dr_sonic 'drSonic',
                td.dr_eldritch 'drEldritch',
                td.dr_posion 'drPoison',
                td.dr_darkrift 'drDarkrift',
                td.dr_sacred 'drSacred',
                td.dr_force 'drForce',
                td.head_slots 'headSlots',
                td.back_slots 'backSlots',
                td.stone_slots 'stoneSlots',
                td.charm_slots 'charmSlots',
                td.conditional 'conditionalUse',
                td.always_in_effect 'alwaysInEffect',
                td.once_round 'oncePerRound',
                td.once_room 'oncePerRoom',
                td.once_game 'oncePerGame',
                td.special_text 'specialText'
           FROM token t,
                token_details td
          WHERE t.id = td.id
            AND t.id like #{id}
    </select>
</mapper>                          