<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.tdcc.token.admin.persistence.TokenAdminMapper">
    
    <insert id="addToken">
        INSERT INTO token ( id,
                            name,
                            text,
                            rarity,
                            slot,
                            barbarian,
                            bard,
                            cleric,
                            druid,
                            fighter,
                            wizard,
                            monk,
                            paladin,
                            ranger,
                            rogue )
                   VALUES ( #{id},
                            #{name},
                            #{text},
                            #{rarity},
                            #{slot},
                            #{usableByBarbarian},
                            #{usableByBard},
                            #{usableByCleric},
                            #{usableByDruid},
                            #{usableByFighter}, 
                            #{usableByWizard},
                            #{usableByMonk},
                            #{usableByPaladin},
                            #{usableByRanger},
                            #{usableByRogue})
    </insert>
    
    <insert id="addTokenDetails">
        INSERT INTO token_details ( id,
                                    str,
                                    dex,
                                    con,
                                    intel,
                                    wis,
                                    cha,
                                    health,
                                    m_hit,
                                    m_dmg,
                                    m_fire,
                                    m_cold,
                                    m_shock,
                                    m_sonic,
                                    m_eldritch,
                                    m_poison,
                                    m_darkrift,
                                    m_sacred,
                                    m_ac,
                                    r_hit,
                                    r_dmg,
                                    r_fire,
                                    r_cold,
                                    r_shock,
                                    r_sonic,
                                    r_eldritch,
                                    r_poison,
                                    r_darkrift,
                                    r_sacred,
                                    r_ac,
                                    r_acm,
                                    fort,
                                    reflex,
                                    will,
                                    ret_dmg,
                                    ret_fire,
                                    ret_cold,
                                    ret_shock,
                                    ret_sonic,
                                    ret_eldritch,
                                    ret_poison,
                                    ret_darkrift,
                                    ret_sacred,
                                    cbs,
                                    fm,
                                    psy,
                                    s_dmg,
                                    s_heal,
                                    s_resist,
                                    treasure)
                           VALUES ( #{id},
                                    #{str},
                                    #{dex},
                                    #{con},
                                    #{intel},
                                    #{wis},
                                    #{cha},
                                    #{health},
                                    #{meleeHit},
                                    #{meleeDmg},
                                    #{meleeFire},
                                    #{meleeCold},
                                    #{meleeShock},
                                    #{meleeSonic},
                                    #{meleeEldritch},
                                    #{meleePoison},
                                    #{meleeDarkrift},
                                    #{meleeSacred},
                                    #{meleeAC},
                                    #{rangeHit},
                                    #{rangeDmg},
                                    #{rangeFire},
                                    #{rangeCold},
                                    #{rangeShock},
                                    #{rangeSonic},
                                    #{rangeEldritch},
                                    #{rangePoison},
                                    #{rangeDarkrift},
                                    #{rangeSacred},
                                    #{rangeAC},
                                    #{rangeMissileAC},
                                    #{fort},
                                    #{reflex},
                                    #{will},
                                    #{retDmg},
                                    #{retFire},
                                    #{retCold},
                                    #{retShock},
                                    #{retSonic},
                                    #{retEldritch},
                                    #{retPoison},
                                    #{retDarkrift},
                                    #{retSacred},
                                    #{cannotBeSuprised},
                                    #{freeMovement},
                                    #{psychic},
                                    #{spellDmg},
                                    #{spellHeal},
                                    #{spellResist},
                                    #{treasure});
    </insert>
</mapper>