<!-- <figure style="display: inline-block;width:101px">
  <img style="margin-left:13px;border:none;" src="images/token.jpg" alt="" ng-click="reloadTokens('ALL')" popover-is-open="isOpen" width="75px" popover-title="{{label}} Selection" uib-popover-template="'tokenSelectorDetailsTemplate.html'" popover-placement="bottom" popover-trigger="'outsideClick'"> 
  <figcaption style="text-align: center;">{{model.name}}</figcaption>
</figure>-->
<a href=""><img uib-tooltip="{{model.name}}" class="img-thumbnail img-responsive img-circle" style="border:none;" ng-src="{{model.itemId === null && 'images/empty.jpg' || 'images/token.jpg'}}" alt="" ng-click="reloadTokens('ALL')" popover-is-open="isOpen" width="60px" popover-title="{{label}} Selection" uib-popover-template="'tokenSelectorDetailsTemplate.html'" popover-placement="{{placement}}" popover-trigger="'outsideClick'"
                ng-class="{ 'common-token': model.rarity === 'COMMON', 'uncommon-token': model.rarity === 'UNCOMMON', 'rare-token': model.rarity === 'RARE', 'ultrarare-token': model.rarity === 'ULTRARARE', 'enhanced-token': model.rarity === 'ENHANCED', 'exalted-token': model.rarity === 'EXALTED', 'relic-token': model.rarity === 'RELIC', 'legendary-token': model.rarity === 'LEGENDARY', 'eldritch-token': model.rarity === 'ELDRITCH', 'premium-token': model.rarity === 'PREMIUM', 'artifact-token': model.rarity === 'ARTIFACT'}"></a>

<script type="text/ng-template" id="tokenSelectorDetailsTemplate.html">
    <div class="col-md-12 text-center" style="display:block;height:32px;margin:0px;padding:0px;margin-bottom:2px">
        <span class="col-md-2 btn" ng-class="tabIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 0;reloadTokens('ALL')">All </span> 
        <span class="col-md-2 btn" ng-class="tabIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 1;reloadTokens('COMMON')">Comn </span> 
        <span class="col-md-2 btn" ng-class="tabIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 2;reloadTokens('UNCOMMON')">Uncom </span> 
        <span class="col-md-2 btn" ng-class="tabIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 3;reloadTokens('RARE')">Rare </span> 
        <span class="col-md-2 btn" ng-class="tabIndex === 4 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 4;reloadTokens('ULTRARARE')">Ultra </span> 
        <span class="col-md-2 btn" ng-class="tabIndex === 5 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 5;reloadTokens('RELIC_PLUS')">Relic + </span>
    </div>
    <div style="height:410px;width:396px;overflow-y:scroll;padding-left:14px;padding-right:0px;"> 
        <div class="col-md-12" style="padding-left:0px;padding-right:15px">
            <hr style="margin-bottom:5px;margin-top:5px;"/>
        </div>
        <div style="height:90px" ng-class-odd="'esi-row-alt'" ng-repeat-start="item in itemSelection track by $index" ng-click="selectToken(item)" data-dismiss="modal" >
            <div class="col-md-3" style="padding-left:0px;padding-right:15px">
                <img class="img-thumbnail img-responsive img-circle" src="images/token.jpg" alt="" width="75px" style="border:none" 
                     ng-class="{ 'common-token': item.rarity === 'COMMON', 'uncommon-token': item.rarity === 'UNCOMMON', 'rare-token': item.rarity === 'RARE', 'ultrarare-token': item.rarity === 'ULTRARARE', 'enhanced-token': item.rarity === 'ENHANCED', 'exalted-token': item.rarity === 'EXALTED', 'relic-token': item.rarity === 'RELIC', 'legendary-token': item.rarity === 'LEGENDARY', 'eldritch-token': item.rarity === 'ELDRITCH', 'premium-token': item.rarity === 'PREMIUM', 'artifact-token': item.rarity === 'ARTIFACT' }"> 
            </div>
            <div class="col-md-9" style="padding-left:0px;padding-right:15px">
                <strong>{{item.name}}</strong>
            </div>
            <div class="col-md-9" style="padding-left:0px;padding-right:15px">
                {{item.text}}
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px;padding-right:15px" ng-repeat-end>
            <hr style="margin-bottom:5px;margin-top:5px;"/>
        </div>
    </div>
    <div class="text-center" style="position:absolute;bottom:0;width:100%;height:50px">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="unequipItemSlot()" style="margin-top:6px">
            <span class="fa fa-ban" style="color:red"></span>
            Unequip {{label}}
        </button>
    </div>
</script>