<div class="col-xs-12" style="padding:0;margin-top:3px;margin-bottom:3px;" ng-if="model.name !== 'Lay on Hands'">
    <input ng-click="openModal(model.usedNumber > $index)" type="checkbox" style="margin-left:7px;width:20px;height:20px" onclick="return false;" onkeydown="return false;" ng-checked="model.usedNumber > $index" ng-repeat-start="x in [].constructor(model.usableNumber) track by $index" ng-repeat-end> 
    <span ng-class="{strikethrough : (model.usedNumber > 0 && model.usedNumber === model.usableNumber)}" style="padding-left:6px;vertical-align:super; "><strong>{{model.name}}</strong> - {{model.details}}</span>
</div>
<div class="col-xs-12" style="padding:0;margin-top:3px;margin-bottom:3px;" ng-if="model.name === 'Lay on Hands'">
    <input ng-click="openModal(model.usedNumber === model.usableNumber)" type="checkbox" style="margin-left:7px;width:20px;height:20px" onclick="return false;" onkeydown="return false;" ng-checked="model.usedNumber === model.usableNumber"> 
    <span ng-class="{strikethrough : (model.usedNumber > 0 && model.usedNumber === model.usableNumber)}" style="padding-left:6px;vertical-align:super; "><strong>{{model.name}} ({{model.usableNumber - model.usedNumber}}/{{model.usableNumber}})</strong> - {{model.details}}</span>
</div>