<div>
    <div class="row esi-row-offset-md">
        <div class="col-md-12">
            <label>{{label}}</label>
            <a href="" data-toggle="modal" data-target="#{{helpModal}}" ng-show="helpModal">
                <span class="fa fa-question-circle esi-help-pad" uib-tooltip="{{helpLabel}}" tooltip-trigger="mouseenter" popover-placement="bottom"></span>
            </a>
            <span class="fa fa-question-circle esi-help-pad" uib-tooltip="{{helpLabel}}" tooltip-trigger="mouseenter" popover-placement="bottom" ng-show="helpLabel && !helpModal"/></span>
        </div>       
    </div> 
    <div class='row esiTextList'>
        <div class="col-md-12" ng-show="editMode" ng-cloak>
            <span uib-tooltip="Update {{label}} List" tooltip-trigger="mouseenter" tooltip-popup-delay='500' class="fa fa-plus-circle"></span> 
            <a href="" data-toggle="modal" data-target="#{{elementId}}Modal" ng-click="preserveOriginal()">{{getTextInternal(true)}}</a>
        </div>    
        <div class="col-md-12" ng-show="!editMode">
            {{getTextInternal(false)}}   
        </div> 
    </div> 

    <!-- Modal -->
    <div id="{{elementId}}Modal" class="modal fade" role="dialog">  
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{label}} Selection</h4>
                </div>
                <div class="modal-body">
                    <div class="row esi-row-offset-md" >
                        <div class='col-md-12' >
                            <select
                                select-min-height="{{dualListSettings.selectMinHeight}}"
                                bootstrap2="{{dualListSettings.bootstrap2}}"
                                ng-options={{options}}
                                multiple
                                ng-model="model"
                                bs-duallistbox
                                filter="{{dualListSettings.filter}}"
                                selected-list-label="Selected"
                                non-selected-list-label="Available"
                                info-all="{{dualListSettings.infoAll}}"
                                info-empty="{{dualListSettings.infoEmpty}}"
                                ></select>
                        </div>
                    </div>
                </div>            
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <span class="fa fa-save"></span> 
                        OK
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="restoreOriginal()">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>         
</div>

