<div class="row">
    <div class="row">
        <div class="col-md-4">
            <label uib-tooltip="" tooltip-trigger="mouseenter" tooltip-popup-delay='500' for="setSelect">Set</label>
            <select class="form-control" id="setSelect" name="setSelect" ng-change="updateSetList(false)" ng-model="selectedSet" ng-options="set.id as set.value for set in sets"></select>
        </div>
        <div class="col-md-4">
            <label uib-tooltip="" tooltip-trigger="mouseenter" tooltip-popup-delay='500' for="langSelect">Language</label>
            <select class="form-control" id="langSelect" name="langSelect" ng-change="updateSetList(false)" ng-model="selectedLanguage" ng-options="language.id as language.value for language in languages"></select>
        </div>
    </div>
    <h2 style="border-bottom:1pt solid black;">Adjust Inventory</h2>
    <table ng-table="tableParams" class="table table-striped table-hover table-bordered table-condensed" ng-show="data.length">
        <tr ng-repeat-start="card in data" ng-repeat-end="" class="form-inline">
            <td data-title="'Cards'">
                <a ng-href="#/cardDetails/{{card.id}}">{{card.name}}</a>
            </td>
            <td data-title="'NM'">
                <input ng-model="card.NM" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'SP'">
                <input ng-model="card.SP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'MP'">
                <input ng-model="card.MP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'HP'">
                <input ng-model="card.HP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'NM Foil'">
                <input ng-model="card.FNM" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'SP Foil'">
                <input ng-model="card.FSP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'MP Foil'">
                <input ng-model="card.FMP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
            <td data-title="'HP Foil'">
                <input ng-model="card.FHP" type="number" min="0" class="form-control" ng-maxlength="4" style="width:70px"/>
            </td>
        </tr>
    </table>
    <div class="text-right" ng-show="data.length" style="margin-bottom: 15px">
        <button class="btn btn-primary" ng-click="adjustInventory()">
            <span class="fa fa-save" ></span> Adjust Inventory 
        </button>
    </div>
</div>
