<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" style="font-size:30px;color: rgb(255, 255, 255)">&times;</button>
    <h4 class="modal-title">{{label}} Selection</h4>
</div>
<div class="col-xs-12 text-center" style="display:block;height:32px;margin:0px;padding:0px">
    <span class="col-xs-2 btn" ng-class="tabIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 0;reloadTokens('ALL')">All </span> 
    <span class="col-xs-2 btn" ng-class="tabIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 1;reloadTokens('COMMON')">Comn </span> 
    <span class="col-xs-2 btn" ng-class="tabIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 2;reloadTokens('UNCOMMON')">Uncom </span> 
    <span class="col-xs-2 btn" ng-class="tabIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 3;reloadTokens('RARE')">Rare </span> 
    <span class="col-xs-2 btn" ng-class="tabIndex === 4 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 4;reloadTokens('ULTRARARE')">Ultra </span> 
    <span class="col-xs-2 btn" ng-class="tabIndex === 5 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="tabIndex = 5;reloadTokens('RELIC_PLUS')">Tier </span>
</div>
<div class="modal-body" style="padding:0px;margin-top:32px">
    <div style="height:calc(100% - 141px);position:fixed;overflow-y:scroll;width:100%;padding-left:0;padding-right:0;">   
        <div style="height:54px" ng-class-odd="'esi-row-alt'" ng-repeat-start="item in itemSelection track by $index" ng-repeat-end ng-click="selectToken(item)" data-dismiss="modal" ng-class="{ 'common-token': item.rarity === 'COMMON', 'uncommon-token': item.rarity === 'UNCOMMON', 'rare-token': item.rarity === 'RARE', 'ultrarare-token': item.rarity === 'ULTRARARE', 'enhanced-token': item.rarity === 'ENHANCED', 'exhalted-token': item.rarity === 'EXHALTED', 'relic-token': item.rarity === 'RELIC', 'legendary-token': item.rarity === 'LEGENDARY', 'eldritch-token': item.rarity === 'ELDRITCH', 'premium-token': item.rarity === 'PREMIUM', 'artifact-token': item.rarity === 'ARTIFACT' }">
            <div class="col-xs-12" style="margin-top:5px;font-weight:bold;color:white">
                {{item.name}}
            </div>
            <div class="col-xs-12 nowrap-truncate" style="margin-bottom:5px;color:white">
                {{item.text}}&nbsp;
            </div>
            <div class="col-xs-12">
                <hr style="margin:0px;"/>
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="position:absolute;bottom:0;width:100%;height:50px">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="unequipItemSlot()" style="margin-top:6px">
        <span class="fa fa-ban" style="color:red"></span>
        Unequip {{label}}
    </button>
</div>
