<div class="modal-header" style="border-bottom-width: 2px; border-color: royalblue">
    <button type="button" class="close" ng-click="closeModal()" style="font-size:30px;color: rgb(255, 255, 255)">&times;</button>
    <h4 class="modal-title">Cast {{model.name}}</h4>
</div>
<div class="modal-body" style="padding:0px">
    <div ng-show="spellCast === false  && magePowers === true">
        <h4 class="modal-title text-center" style="margin-top:15px;color: rgb(255, 255, 255)">Select Any Mage Powers</h4>
   
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.swapElements">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Change Element To:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-4 col-md-4 btn" ng-class="element === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setElement(0)">Cold </span> 
                <span class="col-xs-4 col-md-4 btn" ng-class="element === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setElement(1)">Fire </span> 
                <span class="col-xs-4 col-md-4 btn" ng-class="element === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setElement(2)">Shock </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.archMagePower">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Conserve:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="conserve === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setConserve(0)">False </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="conserve === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setConserve(1)">True </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.magePower || characterContext.archMagePower">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Fork:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="fork === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setFork(0)">False </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="fork === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setFork(1)">True </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.magePower || characterContext.archMagePower">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Intensify:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="intensify === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setIntensify(0)">False </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="intensify === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setIntensify(1)">True </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.magePower || characterContext.archMagePower">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Sharpen:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="sharpen === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSharpen(0)">False </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="sharpen === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSharpen(1)">True </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:30px;padding-left:15px;padding-right:15px">
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-12 col-md-12 btn btn-primary" style="margin:0px;padding:0px;line-height:30px;" ng-click="continueCast()">Continue Cast </span> 
           </div> 
        </div>
    </div>
    <div ng-show="spellCast === false && magePowers === false && skillCheck === true">
        <h4 class="modal-title text-center" style="margin-top:15px;color: rgb(255, 255, 255">Skill Check</h4>
        
        <img ng-src="{{skillCheckSrc}}" style="display: block;margin-left: auto;margin-right: auto;width: 50%;height: 250px; width: 250px"/>
        
        <div style="width: 100%">
            <span class="btn btn-default" style="width:45%;margin:2.5%" ng-click="tryAnswer(checkOption);" ng-repeat-start="checkOption in skillCheckOptions" ng-repeat-end="">
                {{checkOption}}
            </span>
        </div>
    </div>
    <div ng-show="spellCast === false  && magePowers === false && skillCheck === false">
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="model.name === 'Lay on Hands' && characterContext.effects.includes('PLUS_10_LOH')">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Use one per game +10 healing?:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="loh10Index === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setLoH10Index(0)">No </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="loh10Index === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setLoH10Index(1)">Yes </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="model.name === 'Lay on Hands' && characterContext.effects.includes('PLUS_15_LOH')">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Use one per game +15 healing?:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="loh15Index === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setLoH15Index(0)">No </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="loh15Index === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setLoH15Index(1)">Yes </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.madEvoker && (model.skillType === 'DAMAGE' || model.skillType === 'DAMAGE_RANGE_AC_15')">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Use Mad Evoker's Charm?:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="madEvokerIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setMadEvokerIndex(0)">No </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="madEvokerIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setMadEvokerIndex(1)">Yes </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="model.skillTarget === 'ANY'">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Spell Target:
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-6 col-md-6 btn" ng-class="targetIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setTargetIndex(0)">Other </span> 
                <span class="col-xs-6 col-md-6 btn" ng-class="targetIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setTargetIndex(1)">Self </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="characterContext.splitHeal && model.skillType === 'HEAL'">
            <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                Use Lenses of Divine Sight on Secondary Target?
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <span class="col-xs-4 col-md-4 btn" ng-class="secondaryTargetIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSecondaryTargetIndex(0)">None </span> 
                <span class="col-xs-4 col-md-4 btn" ng-class="secondaryTargetIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSecondaryTargetIndex(1)">Other </span> 
                <span class="col-xs-4 col-md-4 btn" ng-class="secondaryTargetIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setSecondaryTargetIndex(2)">Self </span> 
            </div> 
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="secondaryTargetIndex !== 0">
            <div class="col-xs-12 col-md-12 text-center" style="font-size:30px;color: rgb(255, 255, 255)">
                Total heal amount is: {{characterContext.stats.spellHeal + ((hasBuff()("Spell Surge"))?((skillCheckIndex === 0)?model.maxEffect*2:model.minEffect*2):((skillCheckIndex === 0)?model.maxEffect:model.minEffect))}}
            </div>
            <div class="col-xs-12 col-md-12" style="margin-top:18px;padding:0px">
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                        Primary Heal:
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="primaryHealAmount"/>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                        Secondary Heal:
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="seconaryHealAmount"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:12px;padding-left:15px;padding-right:15px" ng-show="model.name === 'Lay on Hands'">
            <div class="col-xs-12 col-md-12" style="margin-top:18px;padding:0px">
                <div class="col-xs-12 col-md-12 text-left" style="margin-bottom:2px;color: rgb(255, 255, 255)">
                    How many Lay on Hands are being cast?
                </div>
                <div class="col-xs-12 col-md-12">
                    <input class="form-control" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-model="lohUseAmount"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px;color:red" ng-show="healError === true">
            Total heal amount must be spit between both targets to equal the heal total
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:30px;padding:15px" ng-show="model.name === 'Lay on Hands'">
            <button class="btn btn-primary" ng-click="useSkill(primaryHealAmount, seconaryHealAmount, lohUseAmount, true)" style="width:90%">
                Cast Spell
            </button>
            <button class="btn btn-info" ng-click="useSkill(primaryHealAmount, seconaryHealAmount, lohUseAmount, false)" style="width:45%;margin-top:10px">
                Cast Without Mark
            </button>
            <button class="btn btn-default" ng-click="markSkill()" style="width:45%;margin-left:5px;margin-top:10px">
                Mark Without Casting
            </button>
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:30px;padding:15px" ng-show="model.name !== 'Lay on Hands'">
            <button class="btn btn-primary" ng-click="useSkill(primaryHealAmount, seconaryHealAmount, lohUseAmount, true)" style="width:45%">
                Cast Spell
            </button>
            <button class="btn btn-warning" ng-click="useSkillAsScroll(primaryHealAmount, seconaryHealAmount, true)" style="width:45%;margin-left:5px">
                Cast As Scroll
            </button>
            <button class="btn btn-info" ng-click="useSkill(primaryHealAmount, seconaryHealAmount, lohUseAmount, false)" style="width:45%;margin-top:10px">
                Cast Without Mark
            </button>
            <button class="btn btn-danger" ng-click="useSkillAsScroll(primaryHealAmount, seconaryHealAmount, false)" style="width:45%;margin-left:5px;margin-top:10px">
                Cast As Scroll No Mark
            </button>
            <button class="btn btn-default" ng-click="markSkill()" style="width:90%;margin-top:10px">
                Mark Without Casting
            </button>
        </div>
    </div>
    <div ng-show="spellCast === true && magePowers === false">
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px" ng-show="secondaryTargetIndex === 0 && model.skillType === 'HEAL'">
            <div ng-if="!model.aoe">
                <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                    {{model.name}} healed {{(targetIndex === 0) ? "target" : "yourself"}} for:
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color:lime">
                    {{primaryHealAmount}}
                </div>
            </div>
            <div ng-if="model.aoe">
                <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                    {{model.name}} healed all party members for:
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color:lime">
                    {{primaryHealAmount}}
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                    And a pooled amount of:
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color:lime">
                    {{healPool}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px" ng-show="secondaryTargetIndex !== 0 && model.skillType === 'HEAL'">
            <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                {{model.name}} healed for:
            </div>
            <div class="col-xs-12 col-md-12 text-center" style="font-size:55px;color:lime">
                Primary: {{primaryHealAmount}}
            </div>
            <div class="col-xs-12 col-md-12 text-center" style="font-size:55px;color:lime">
                Secondary: {{seconaryHealAmount}}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px" ng-show="model.skillType === 'DAMAGE'">
            <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                {{model.name}} cast damage for:
            </div>
            <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color: #e3a345">
                {{damage}}
            </div>
            <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px" ng-show="damagePool > 0">
                <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                    And pooled damage of:
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color: #e3a345" >
                    {{damagePool}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px" ng-show="model.skillType === 'DAMAGE_RANGE_AC_15'">
            <div ng-show="hitRollNatural > 1">
                <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                    {{model.name}} cast damage for:
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color: #e3a345">
                    {{damage}}
                </div>
                <div class="col-xs-12 col-md-12 text-center" style="margin-top:15px">
                    <div class="col-xs-12 col-md-12 text-center" style="font-size:35px;color: rgb(255, 255, 255)">
                        If hit on:
                    </div>
                    <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color: #26b3f7" >
                        {{hitRoll}}({{hitRollNatural}})
                    </div>
                </div>
            </div>
            <div ng-show="hitRollNatural === 1">
                <div class="col-xs-12 col-md-12 text-center" style="font-size:65px;color: red">
                    Miss
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-12 text-center" style="margin-top:30px">
            <button class="btn btn-default" ng-click="closeModal()" style="width:75%">
                Close
            </button>
        </div> 
    </div>
</div>
