<div class="row">
    <table ng-table="tableParams" class="table table-striped table-hover table-condensed" >
        <tr ng-repeat-start="card in $data" ng-repeat-end="" class="form-inline">
            <td data-title="'Name'">
                 <a ng-href="#/cardDetails/{{card.id}}">{{card.name}}</a>
            </td>
            <td data-title="'Set'">
                 <a ng-href="#/setList/{{card.setId}}/{{card.setId}}">{{card.set}}</a>
            </td>
            <td data-title="'Mana Cost'">
                <img src="{{imgBaseURL}}/titan/images/{{mana}}.png" border="0" width="17" height="17" alt="1" ng-repeat="mana in card.manaCost track by $index">
            </td>
            <td data-title="'Type'">
                {{card.type}}
            </td>
            <td data-title="'Rarity'">
                {{card.rarity}}
            </td>
            <td data-title="'Condition'">
                {{card.condition}}
            </td>
            <td data-title="'Stock'">
                <div ng-show="{{card.qty}} > 0">
                    {{card.qty}}
                </div>
                <div ng-show="{{card.qty}} === 0">
                    Out of Stock
                </div>
            </td>
            <td data-title="'Price'">
                <div ng-show="{{card.qty}} > 0">
                    {{card.price | currency: '$'}}
                </div>
            </td>
            <td data-title="" ng-if="privilegeCheck.isUserAuthorized('CUSTOMER')">
                <div ng-show="{{card.qty}} > 0">
                    <ngcart-addtocart id="{{card.id}}{{card.set}}{{card.condition}}" name="{{card.name}}" price="{{card.price}}" quantity="1" quantity-max="{{card.qty}}" data="card">Add to Cart</ngcart-addtocart>
                </div>
            </td>
        </tr>
    </table>
</div>


