<div class="col-xs-12 parent" style="min-height:100%;width:100%;padding:0px">
    <div class="vtd-background"></div>
    
    <md-button class="md-fab md-mini md-fab-bottom-left" ng-click="setAttackIndex(3)" ng-class="attackIndex === 3 ? 'md-primary' : 'md-secondary'" aria-label="Settings" style="bottom:170px;left:10px;position:fixed">
        <md-icon  md-svg-src="images/settings.svg"></md-icon>
    </md-button>
    
    <md-button class="md-fab md-mini md-fab-bottom-left" ng-click="setAttackIndex(2)" ng-class="attackIndex === 2 ? 'md-primary' : 'md-secondary'" aria-label="Notes" style="bottom:120px;left:10px;position:fixed">
        <md-icon  md-svg-src="images/notes.svg"></md-icon>
    </md-button>
    
    <md-button class="md-fab md-mini md-fab-bottom-left" ng-click="setAttackIndex(1)" ng-class="attackIndex === 1 ? 'md-primary' : 'md-secondary'" aria-label="Stats" style="bottom:70px;left:10px;position:fixed">
        <md-icon  md-svg-src="images/stats.svg"></md-icon>
    </md-button>
    
    <md-button class="md-fab md-mini md-fab-bottom-left " ng-click="setAttackIndex(0)" ng-class="attackIndex === 0 ? 'md-primary' : 'md-secondary'" aria-label="Roller" style="left:10px;position:fixed">
        <md-icon  md-svg-src="images/gavel.svg"></md-icon>
    </md-button>
    
    <div class="foreground col-xs-12">
        <settings-desktop ng-show="attackIndex === 3"></settings-desktop>
        <play-notes-desktop ng-show="attackIndex === 2"></play-notes-desktop>
        <play-stats-desktop ng-show="attackIndex === 1"></play-stats-desktop>
        <roller-desktop ng-show="attackIndex === 0"></roller-desktop>
    </div>
    
</div>

