<div style="height:410px">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin:0px;padding:0px">
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="resultIndex === 0 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;border-top-left-radius:25px" ng-click="setResultIndex(0)">Result </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="resultIndex === 1 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setResultIndex(1)">Buffs </span> 
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="resultIndex === 2 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;" ng-click="setResultIndex(2)">Bard Song </span>
        <span class="col-xs-3 col-sm-3 col-md-3 btn nowrap-truncate" ng-class="resultIndex === 3 ? 'btn-info' : 'btn-default'" style="margin:0px;padding:0px;line-height:30px;border-top-right-radius:25px" ng-click="setResultIndex(3)">History </span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-y:auto;height:360px;padding:0px">
        {{last.type}} {{last}}{{history}}
        <div class="col-xs-12" style="margin-top:15px;"></div>
    </div>
</div>
