<div class="row" style="margin:15px">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" ng-model="selectedToken" uib-typeahead="token for token in searchForToken($viewValue)" typeahead-popup-template-url="admin/tokens/template.html" typeahead-on-select="onSelect($item)" placeholder="Search for token..." >
        </div> 
    </div>
    <h2 style="border-bottom:1pt solid black;"></h2>
    <div class="row">
        <div class="col-md-4">
            <label>Name:</label>
            <input class="form-control" type="text" ng-model="search.name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Text:</label>
            <input class="form-control" type="text" ng-model="search.text"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Usable By:</label><br>
            <span ng-class="{'btn-info' : usabilitySelected(tokenUsableBy), 'btn-default' : !usabilitySelected(tokenUsableBy)}" ng-click="toggleUsabilitySelected(tokenUsableBy);" class="btn" ng-repeat-start="tokenUsableBy in tokenUsability" ng-repeat-end="">
                {{tokenUsableBy | characterclassformat}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Slot:</label><br>
            <span ng-class="{'btn-info' : slotSelected(tokenSlot), 'btn-default' : !slotSelected(tokenSlot)}" ng-click="toggleSlotSelected(tokenSlot);" class="btn" ng-repeat-start="tokenSlot in tokenSlots" ng-repeat-end="">
                {{tokenSlot | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Rarity:</label><br>
            <span ng-class="{'btn-info' : raritySelected(tokenRarity), 'btn-default' : !raritySelected(tokenRarity)}" ng-click="toggleRaritySelected(tokenRarity);" class="btn" ng-repeat-start="tokenRarity in tokenRarities" ng-repeat-end="">
                {{tokenRarity | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Conditional:</label><br>
            <span ng-class="{'btn-info' : conditionalSelected(tokenConditional), 'btn-default' : !conditionalSelected(tokenConditional)}" ng-click="toggleConditionalSelected(tokenConditional);" class="btn" ng-repeat-start="tokenConditional in tokenConditionals" ng-repeat-end="">
                {{tokenConditional | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2" style="margin-top: 10px">
            <label>Strength:</label>
            <input type="number" class="form-control" ng-model="search.str"/>
        </div>
        <div class="col-md-2" style="margin-top: 10px">
            <label>Dexterity:</label>
            <input type="number" class="form-control" ng-model="search.dex"/>
        </div>
        <div class="col-md-2" style="margin-top: 10px">
            <label>Constitution:</label>
            <input type="number" class="form-control" ng-model="search.con"/>
        </div>
        <div class="col-md-2" style="margin-top: 10px">
            <label>Intelligence:</label>
            <input type="number" class="form-control" ng-model="search.intel"/>
        </div>
        <div class="col-md-2" style="margin-top: 10px">
            <label>Wisdom:</label>
            <input type="number" class="form-control" ng-model="search.wis"/>
        </div>
        <div class="col-md-2" style="margin-top: 10px">
            <label>Charisma:</label>
            <input type="number" class="form-control" ng-model="search.cha"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.oneHanded">One Handed Weapon?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.twoHanded">Two Handed Weapon?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.shield">Shield?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangedWeapon">Ranged Weapon?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.thrown">Thrown Weapon?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangerOffhand">Ranger Offhand?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.monkOffhand">Monk Offhand?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.instrument">Instrument Weapon?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.shuriken">Shuriken?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.bracerWeapon">Bracer Weapon?</label>
        </div>
    </div>
    <hr>
        <div class="row">
        <div class="col-md-4">
            <label>Melee Hit:</label>
            <input type="number" class="form-control" ng-model="search.meleeHit"/>
        </div>
        <div class="col-md-4">
            <label>Melee Damage:</label>
            <input type="number" class="form-control" ng-model="search.meleeDmg"/>
        </div>
        <div class="col-md-4">
            <label>Melee AC:</label>
            <input type="number" class="form-control" ng-model="search.meleeAC"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeFire">Melee Fire?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeCold">Melee Cold?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeShock">Melee Shock?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeSonic">Melee Sonic?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeEldritch">Melee Eldritch?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleePoison">Melee Poison?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeDarkrift">Melee Darkrift?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.meleeSacred">Melee Sacred?</label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <label>Ranged Hit:</label>
            <input type="number" class="form-control" ng-model="search.rangeHit"/>
        </div>
        <div class="col-md-3">
            <label>Ranged Damage:</label>
            <input type="number" class="form-control" ng-model="search.rangeDmg"/>
        </div>
        <div class="col-md-3">
            <label>Ranged AC:</label>
            <input type="number" class="form-control" ng-model="search.rangeAC"/>
        </div>
        <div class="col-md-3">
            <label>Missile AC:</label>
            <input type="number" class="form-control" ng-model="search.rangeMissileAC"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeFire">Ranged Fire?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeCold">Ranged Cold?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeShock">Ranged Shock?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeSonic">Ranged Sonic?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeEldritch">Ranged Eldritch?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangePoison">Ranged Poison?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeDarkrift">Ranged Darkrift?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.rangeSacred">Ranged Sacred?</label> 
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <label>Health:</label>
            <input type="number" class="form-control" ng-model="search.health"/>
        </div>
        <div class="col-md-1">
            <label>Regen:</label>
            <input type="number" class="form-control" ng-model="search.regen"/>
        </div>
        <div class="col-md-3">
            <label>Fortitude:</label>
            <input type="number" class="form-control" ng-model="search.fort"/>
        </div>
        <div class="col-md-3">
            <label>Reflex:</label>
            <input type="number" class="form-control" ng-model="search.reflex"/>
        </div>
        <div class="col-md-3">
            <label>Will:</label>
            <input type="number" class="form-control" ng-model="search.will"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label>Retribution Damage:</label>
            <input type="number" class="form-control" ng-model="search.retDmg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retFire">Retribution Fire?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retCold">Retribution Cold?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retShock">Retribution Shock?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retSonic">Retribution Sonic?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retEldritch">Retribution Eldritch?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retPoison">Retribution Poison?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retDarkrift">Retribution Darkrift?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.retSacred">Retribution Sacred?</label> 
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label>Spell Damage:</label>
            <input type="number" class="form-control" ng-model="search.spellDmg"/>
        </div>
        <div class="col-md-4">
            <label>Spell Heal:</label>
            <input type="number" class="form-control" ng-model="search.spellHeal"/>
        </div>
        <div class="col-md-4">
            <label>Spell Resistance:</label>
            <input type="number" class="form-control" ng-model="search.spellResist"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.cannotBeSuprised">Cannot Be Suprised?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.freeMovement">Free Movement?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.psychic">Psychic?</label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label>Treasure Min:</label>
            <input type="number" class="form-control" ng-model="search.treasureMin"/>
        </div>
        <div class="col-md-4">
            <label>Treasure Max:</label>
            <input type="number" class="form-control" ng-model="search.treasureMax"/>
        </div>
        <div class="col-md-4">
            <label>Initiative:</label>
            <input type="number" class="form-control" ng-model="search.initiative"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <label>DR Melee:</label>
            <input type="number" class="form-control" ng-model="search.drMelee"/>
        </div>
        <div class="col-md-1">
            <label>DR Range:</label>
            <input type="number" class="form-control" ng-model="search.drRange"/>
        </div>
        <div class="col-md-1">
            <label>DR Spell:</label>
            <input type="number" class="form-control" ng-model="search.drSpell"/>
        </div>
        <div class="col-md-1">
            <label>DR Fire:</label>
            <input type="number" class="form-control" ng-model="search.drFire"/>
        </div>
        <div class="col-md-1">
            <label>DR Cold:</label>
            <input type="number" class="form-control" ng-model="search.drCold"/>
        </div>
        <div class="col-md-1">
            <label>DR Shock:</label>
            <input type="number" class="form-control" ng-model="search.drShock"/>
        </div>
        <div class="col-md-1">
            <label>DR Sonic:</label>
            <input type="number" class="form-control" ng-model="search.drSonic"/>
        </div>
        <div class="col-md-1">
            <label>DR Eldritch:</label>
            <input type="number" class="form-control" ng-model="search.drEldritch"/>
        </div>
        <div class="col-md-1">
            <label>DR Posion:</label>
            <input type="number" class="form-control" ng-model="search.drPoison"/>
        </div>
        <div class="col-md-1">
            <label>DR Darkrift:</label>
            <input type="number" class="form-control" ng-model="search.drDarkrift"/>
        </div>
        <div class="col-md-1">
            <label>DR Sacred:</label>
            <input type="number" class="form-control" ng-model="search.drSacred"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label>Special Text:</label>
            <input class="form-control" type="text" ng-model="search.specialText"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.alwaysInEffect">Always In Effect?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.oncePerRound">Once Per Round?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.oncePerRoom">Once Per Room?</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="search.oncePerGame">Once Per Game?</label>
        </div>
    </div>
    <div class="row col-md-12 text-right" style="margin-top:15px;margin-bottom:15px">
        <button class="btn btn-primary" ng-click="editToken()">
            <span class="fa fa-save" ></span> Save 
        </button>
    </div>
</div>


                
                
                
