<div class="row">
    <h2 style="border-bottom:1pt solid black;">Advanced Search</h2>
    <div class="row">
        <div class="col-md-4">
            <label>Card Name:</label>
            <input class="form-control" type="text" ng-model="search.like"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Slot:</label><br>
            <span ng-class="{'btn-info' : slotSelected(tokenSlot), 'btn-default' : !slotSelected(tokenSlot)}" ng-click="toggleSlotSelected(tokenSlot);" class="btn" ng-repeat-start="tokenSlot in tokenSlots" ng-repeat-end="">
                {{tokenSlot | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Color:</label><br>
            <span ng-class="{'btn-info' : colorSelected(tokenColor), 'btn-default' : !colorSelected(tokenColor)}" ng-click="toggleColorSelected(tokenColor);" class="btn" ng-repeat-start="tokenColor in tokenColors" ng-repeat-end="">
                {{tokenColor | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <label>Rarity:</label><br>
            <span ng-class="{'btn-info' : raritySelected(tokenRarity), 'btn-default' : !raritySelected(tokenRarity)}" ng-click="toggleRaritySelected(tokenRarity);" class="btn" ng-repeat-start="tokenRarity in tokenRarities" ng-repeat-end="">
                {{tokenRarity | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px">
            <label>Language:</label><br>
            <span ng-class="{'btn-info' : languageSelected(tokenLanguage), 'btn-default' : !languageSelected(tokenLanguage)}" ng-click="toggleLanguageSelected(tokenLanguage);" class="btn" ng-repeat-start="tokenLanguage in tokenLanguages" ng-repeat-end="">
                {{tokenLanguage | lowercase | capitalize}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Price Minimum:</label>
            <input type="number" min="0" class="form-control" ng-model="search.priceMin"/>
        </div>
        <div class="col-md-4">
            <label>Price Maximum:</label>
            <input type="number" min="0" class="form-control" ng-model="search.priceMax"/>
        </div>
    </div>
    <div class="text-right" style="margin-bottom: 15px">
        <button class="btn btn-primary" ng-click="doSearch()">
            <span class="fa fa-save" ></span> Search 
        </button>
    </div>
</div>


