<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.tdcc.character.persistence.CharacterMapper">
    
    <insert id="addCharacter">
        INSERT INTO character_name (id,
                                    user_id,
                                    name,
                                    character_class,
                                    created) 
                            VALUES (#{id},
                                    #{userId},
                                    #{name},
                                    #{characterClass},
                                    #{createdOn})
    </insert>
    
    <insert id="addCharacterStats">
       INSERT INTO character_stats (id,
                                    str,
                                    dex,
                                    con,
                                    intel,
                                    wis,
                                    cha,
                                    health,
                                    regen,
                                    meleeHit,
                                    meleeDmg,
                                    meleeFire,
                                    meleeCold,
                                    meleeShock,
                                    meleeSonic,
                                    meleeEldritch,
                                    meleePoison,
                                    meleeDarkrift,
                                    meleeSacred,
                                    meleeAC,
                                    rangeHit,
                                    rangeDmg,
                                    rangeFire,
                                    rangeCold,
                                    rangeShock,
                                    rangeSonic,
                                    rangeEldritch,
                                    rangePoison,
                                    rangeDarkrift,
                                    rangeSacred,
                                    rangeAC,
                                    rangeMissileAC,
                                    fort,
                                    reflex,
                                    will,
                                    retDmg,
                                    retFire,
                                    retCold,
                                    retShock,
                                    retSonic,
                                    retEldritch,
                                    retPoison,
                                    retDarkrift,
                                    retSacred,
                                    cannotBeSuprised,
                                    freeMovement,
                                    psychic,
                                    spellDmg,
                                    spellHeal,
                                    spellResist,
                                    initiative,
                                    treasureMin,
                                    treasureMax,
                                    level,
                                    drMelee,
                                    drRange,
                                    drSpell,
                                    drFire,
                                    drCold,
                                    drShock,
                                    drSonic,
                                    drEldritch,
                                    drPoison,
                                    drDarkrift,
                                    drSacred)
                            VALUES (#{characterId},
                                    #{str},
                                    #{dex},
                                    #{con},
                                    #{intel},
                                    #{wis},
                                    #{cha},
                                    #{health},
                                    #{regen},
                                    #{meleeHit},
                                    #{meleeDmg},
                                    #{meleeFire},
                                    #{meleeCold},
                                    #{meleeShock},
                                    #{meleeSonic},
                                    #{meleeEldritch},
                                    #{meleePoison},
                                    #{meleeDarkrift},
                                    #{meleeSacred},
                                    #{meleeAC},
                                    #{rangeHit},
                                    #{rangeDmg},
                                    #{rangeFire},
                                    #{rangeCold},
                                    #{rangeShock},
                                    #{rangeSonic},
                                    #{rangeEldritch},
                                    #{rangePoison},
                                    #{rangeDarkrift},
                                    #{rangeSacred},
                                    #{rangeAC},
                                    #{rangeMissileAC},
                                    #{fort},
                                    #{reflex},
                                    #{will},
                                    #{retDmg},
                                    #{retFire},
                                    #{retCold},
                                    #{retShock},
                                    #{retSonic},
                                    #{retEldritch},
                                    #{retPoison},
                                    #{retDarkrift},
                                    #{retSacred},
                                    #{cannotBeSuprised},
                                    #{freeMovement},
                                    #{psychic},
                                    #{spellDmg},
                                    #{spellHeal},
                                    #{spellResist},
                                    #{initiative},
                                    #{treasureMin},
                                    #{treasureMax},
                                    #{level},
                                    #{drMelee},
                                    #{drRange},
                                    #{drSpell},
                                    #{drFire},
                                    #{drCold},
                                    #{drShock},
                                    #{drSonic},
                                    #{drEldritch},
                                    #{drPoison},
                                    #{drDarkrift},
                                    #{drSacred})
    </insert>
     
    <insert id="addCharacterItems">
        INSERT INTO character_items (id,
                                     item_id,
                                     character_id,
                                     slot,
                                     slot_index,
                                     slot_status,
                                     status_text)
                             VALUES
        <foreach item="element" index="index" collection="characterItems" separator=",">
                                    (#{element.id},
                                     #{element.itemId},
                                     #{element.characterId},
                                     #{element.slot},
                                     #{element.index},
                                     #{element.slotStatus},
                                     #{element.statusText})
        </foreach> 
    </insert>
    
    <select id="getCharacter" resultType="com.achersoft.tdcc.character.dao.CharacterDetails"> 
        SELECT id 'id',
               user_id 'userId',
               name 'name',
               character_class 'characterClass',
               created 'createdOn'
          FROM character_name
         WHERE id = #{id}
           AND user_id = #{userId}
    </select>  
    
    <select id="getCharacterStats" resultType="com.achersoft.tdcc.character.dao.CharacterStats"> 
         SELECT id 'characterId',
                str,
                dex,
                con,
                intel,
                wis,
                cha,
                health,
                regen,
                meleeHit,
                meleeDmg,
                meleeFire,
                meleeCold,
                meleeShock,
                meleeSonic,
                meleeEldritch,
                meleePoison,
                meleeDarkrift,
                meleeSacred,
                meleeAC,
                rangeHit,
                rangeDmg,
                rangeFire,
                rangeCold,
                rangeShock,
                rangeSonic,
                rangeEldritch,
                rangePoison,
                rangeDarkrift,
                rangeSacred,
                rangeAC,
                rangeMissileAC,
                fort,
                reflex,
                will,
                retDmg,
                retFire,
                retCold,
                retShock,
                retSonic,
                retEldritch,
                retPoison,
                retDarkrift,
                retSacred,
                cannotBeSuprised,
                freeMovement,
                psychic,
                spellDmg,
                spellHeal,
                spellResist,
                initiative,
                treasureMin,
                treasureMax,
                level,
                drMelee,
                drRange,
                drSpell,
                drFire,
                drCold,
                drShock,
                drSonic,
                drEldritch,
                drPoison,
                drDarkrift,
                drSacred
           FROM character_stats
          WHERE id = #{id}
    </select>   
    
    <select id="getCharacterItems" resultType="com.achersoft.tdcc.character.dao.CharacterItem"> 
             SELECT ci.id 'id',
                    ci.item_id 'itemId',
                    ci.character_id 'characterId',
                    t.name 'name',
                    t.text 'text',
                    t.rarity 'rarity',
                    ci.slot 'slot',
                    ci.slot_index 'index',
                    ci.slot_status 'slotStatus',
                    ci.status_text 'statusText'
               FROM character_items ci
    LEFT OUTER JOIN token t ON ci.item_id = t.id 
              WHERE character_id = #{id}
    </select>
   
    <select id="getStartingStats" resultType="com.achersoft.tdcc.character.dao.CharacterStats"> 
         SELECT str,
                dex,
                con,
                intel,
                wis,
                cha,
                health,
                regen,
                meleeHit,
                meleeDmg,
                meleeFire,
                meleeCold,
                meleeShock,
                meleeSonic,
                meleeEldritch,
                meleePoison,
                meleeDarkrift,
                meleeSacred,
                meleeAC,
                rangeHit,
                rangeDmg,
                rangeFire,
                rangeCold,
                rangeShock,
                rangeSonic,
                rangeEldritch,
                rangePoison,
                rangeDarkrift,
                rangeSacred,
                rangeAC,
                rangeMissileAC,
                fort,
                reflex,
                will,
                retDmg,
                retFire,
                retCold,
                retShock,
                retSonic,
                retEldritch,
                retPoison,
                retDarkrift,
                retSacred,
                cannotBeSuprised,
                freeMovement,
                psychic,
                spellDmg,
                spellHeal,
                spellResist,
                initiative,
                treasureMin,
                treasureMax,
                level,
                drMelee,
                drRange,
                drSpell,
                drFire,
                drCold,
                drShock,
                drSonic,
                drEldritch,
                drPoison,
                drDarkrift,
                drSacred
           FROM base_stats
        WHERE characterClass = #{characterClass}
          AND level = #{level}
    </select>
</mapper>                          