<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.tdcc.vtd.persistence.VtdMapper">
    
    <insert id="addCharacter">
        INSERT INTO vtd_character (id,
                                    orig_id,
                                    user_id,
                                    expires,
                                    name,
                                    adventureId,
                                    adventureName,
                                    critTypes,
                                    character_class,
                                    health,
                                    roller_difficulty,
                                    init_bonus,
                                    health_bonus,
                                    glove_cabal,
                                    bracelet_cabal,
                                    charm_cabal,
                                    room_number,
                                    meleeMainHit,
                                    meleeOffhandHit,
                                    rangeMainHit,
                                    rangeOffhandHit,
                                    effects,
                                    melee_dmg_range,
                                    melee_offhand_dmg_range,
                                    melee_poly_dmg_range,
                                    range_dmg_range,
                                    range_offhand_dmg_range,
                                    melee_weapon_explode_range,
                                    melee_weapon_secondary_explode_range,
                                    melee_offhand_weapon_explode_range,
                                    range_weapon_explode_range,
                                    range_offhand_weapon_explode_range,
                                    melee_weapon_explode_effect,
                                    melee_weapon_secondary_explode_effect,
                                    melee_offhand_weapon_explode_effect,
                                    range_weapon_explode_effect,
                                    range_offhand_weapon_explode_effect,
                                    melee_weapon_explode_text,
                                    melee_weapon_secondary_explode_text,
                                    melee_offhand_weapon_explode_text,
                                    range_weapon_explode_text,
                                    range_offhand_weapon_explode_text,
                                    melee_weapon_damage_effect,
                                    melee_offhand_weapon_damage_effect,
                                    melee_poly_damage_effect,
                                    range_weapon_damage_effect,
                                    range_offhand_weapon_damage_effect,
                                    melee_crit_min,
                                    melee_offhand_crit_min,
                                    melee_poly_crit_min,
                                    range_crit_min,
                                    melee_sneak_hit,
                                    melee_sneak_damage,
                                    melee_sneak_crit_min,
                                    range_sneak_hit,
                                    range_sneak_damage,
                                    range_sneak_crit_min,
                                    unmodifiable_sneak_damage,
                                    is_sneak_can_crit,
                                    is_sneak_at_range,
                                    split_heal,
                                    mad_evoker,
                                    mighty_weapon,
                                    prestigeAvailable,
                                    prestigeActive)
                            VALUES (#{characterId},
                                    #{characterOrigId},
                                    #{userId},
                                    #{expires},
                                    #{name},
                                    #{adventureId},
                                    #{adventureName},
                                    #{critTypes},
                                    #{characterClass},
                                    #{currentHealth},
                                    #{rollerDifficulty},
                                    #{initBonus},
                                    #{healthBonus},
                                    #{glovesCabalBonus},
                                    #{braceletCabalBonus},
                                    #{charmCabalBonus},
                                    #{roomNumber},
                                    #{meleeMainHit},
                                    #{meleeOffhandHit},
                                    #{rangeMainHit},
                                    #{rangeOffhandHit},
                                    #{availableEffects},
                                    #{meleeDmgRange},
                                    #{meleeOffhandDmgRange},
                                    #{meleePolyDmgRange},
                                    #{rangeDmgRange},
                                    #{rangeOffhandDmgRange},
                                    #{meleeWeaponExplodeRange},
                                    #{meleeWeaponSecondaryExplodeRange},
                                    #{meleeOffhandWeaponExplodeRange},
                                    #{rangeWeaponExplodeRange},
                                    #{rangeOffhandWeaponExplodeRange},
                                    #{meleeWeaponExplodeEffect},
                                    #{meleeWeaponSecondaryExplodeEffect},
                                    #{meleeOffhandWeaponExplodeEffect},
                                    #{rangeWeaponExplodeEffect},
                                    #{rangeOffhandWeaponExplodeEffect},
                                    #{meleeWeaponExplodeText},
                                    #{meleeWeaponSecondaryExplodeText},
                                    #{meleeOffhandWeaponExplodeText},
                                    #{rangeWeaponExplodeText},
                                    #{rangeOffhandWeaponExplodeText},
                                    #{meleeDmgEffects},
                                    #{meleeOffhandDmgEffects},
                                    #{meleePolyDmgEffects},
                                    #{rangeDmgEffects},
                                    #{rangeOffhandDmgEffects},
                                    #{meleeCritMin},
                                    #{meleeOffhandCritMin},
                                    #{meleePolyCritMin},
                                    #{rangeCritMin},
                                    #{meleeSneakHit},
                                    #{meleeSneakDamage},
                                    #{meleeSneakCritMin},
                                    #{rangeSneakHit},
                                    #{rangeSneakDamage},
                                    #{rangeSneakCritMin},
                                    #{unmodifiableSneakDamage},
                                    #{isSneakCanCrit},
                                    #{isSneakAtRange},
                                    #{splitHeal},
                                    #{madEvoker},
                                    #{mightyWeapon},
                                    #{prestigeAvailable},
                                    #{prestigeActive})
    </insert>

    <insert id="addCharacterSkill">
       INSERT INTO vtd_skills (id,
                               character_id,
                               name,
                               details,
                               skill_level,
                               skill_type,
                               skill_target,
                               skill_stat_effect,  
                               aoe,
                               used_number,
                               usable_number,
                               min_effect,
                               max_effect,
                               once_per_room,
                               isCold,
                               isFire,
                               isShock,
                               isSonic,
                               isPoison,
                               isSacred,
                               isDarkrift,
                               isAcid,
                               coldBonus,
                               fireBonus,
                               shockBonus,
                               sonicBonus,
                               poisonBonus,
                               sacredBonus,
                               darkriftBonus,
                               acidBonus)
                        VALUES (#{id},
                                #{characterId},
                                #{name},
                                #{details},
                                #{skillLevel},
                                #{skillType},
                                #{skillTarget},
                                #{skillStatEffect},
                                #{aoe},
                                #{usedNumber},
                                #{usableNumber},
                                #{minEffect},
                                #{maxEffect},
                                #{oncePerRoom},
                                #{isCold},
                                #{isFire},
                                #{isShock},
                                #{isSonic},
                                #{isPoison},
                                #{isSacred},
                                #{isDarkrift},
                                #{isAcid},
                                #{coldBonus},
                                #{fireBonus},
                                #{shockBonus},
                                #{sonicBonus},
                                #{poisonBonus},
                                #{sacredBonus},
                                #{darkriftBonus},
                                #{acidBonus})
    </insert>

    <insert id="addCharacterStats">
        INSERT INTO vtd_stats (id,
        base_str,
        str,
        str_bonus,
        base_dex,
        dex,
        dex_bonus,
        base_con,
        con,
        con_bonus,
        base_intel,
        intel,
        intel_bonus,
        base_wis,
        wis,
        wis_bonus,
        base_cha,
        cha,
        cha_bonus,
        health,
        regen,
        meleeHit,
        meleePolyHit,
        meleeDmg,
        meleePolyDmg,
        meleeFire,
        meleeCold,
        meleeShock,
        meleeSonic,
        meleeEldritch,
        meleePoison,
        meleeDarkrift,
        meleeSacred,
        meleeAC,
        rangeHit,
        rangeDmg,
        rangeFire,
        rangeCold,
        rangeShock,
        rangeSonic,
        rangeEldritch,
        rangePoison,
        rangeDarkrift,
        rangeSacred,
        rangeHitBenrow,
        rangeDmgBenrow,
        rangeFireBenrow,
        rangeColdBenrow,
        rangeShockBenrow,
        rangeSonicBenrow,
        rangeEldritchBenrow,
        rangePoisonBenrow,
        rangeDarkriftBenrow,
        rangeSacredBenrow,
        rangeAC,
        rangeMissileAC,
        fort,
        reflex,
        will,
        retDmg,
        retFire,
        retCold,
        retShock,
        retSonic,
        retEldritch,
        retPoison,
        retDarkrift,
        retSacred,
        cannotBeSuprised,
        freeMovement,
        psychic,
        psychic_level,
        possession,
        spellDmg,
        spellHeal,
        spellResist,
        initiative,
        treasureMin,
        treasureMax,
        level,
        drMelee,
        drRange,
        drSpell,
        drFire,
        drCold,
        drShock,
        drSonic,
        drEldritch,
        drPoison,
        drDarkrift,
        drSacred,
        mFire,
        mCold,
        mShock,
        mSonic,
        mEldritch,
        mPoison,
        mDarkrift,
        mSacred,
        mForce,
        mAcid,
        rFire,
        rCold,
        rShock,
        rSonic,
        rEldritch,
        rPoison,
        rDarkrift,
        rSacred,
        rForce,
        rAcid,
        bFire,
        bCold,
        bShock,
        bSonic,
        bEldritch,
        bPoison,
        bDarkrift,
        bSacred,
        bForce,
        bAcid)
        VALUES (#{characterId},
        #{baseStr},
        #{str},
        #{strBonus},
        #{baseDex},
        #{dex},
        #{dexBonus},
        #{baseCon},
        #{con},
        #{conBonus},
        #{baseIntel},
        #{intel},
        #{intelBonus},
        #{baseWis},
        #{wis},
        #{wisBonus},
        #{baseCha},
        #{cha},
        #{chaBonus},
        #{health},
        #{regen},
        #{meleeHit},
        #{meleePolyHit},
        #{meleeDmg},
        #{meleePolyDmg},
        #{meleeFire},
        #{meleeCold},
        #{meleeShock},
        #{meleeSonic},
        #{meleeEldritch},
        #{meleePoison},
        #{meleeDarkrift},
        #{meleeSacred},
        #{meleeAC},
        #{rangeHit},
        #{rangeDmg},
        #{rangeFire},
        #{rangeCold},
        #{rangeShock},
        #{rangeSonic},
        #{rangeEldritch},
        #{rangePoison},
        #{rangeDarkrift},
        #{rangeSacred},
        #{rangeHitBenrow},
        #{rangeDmgBenrow},
        #{rangeFireBenrow},
        #{rangeColdBenrow},
        #{rangeShockBenrow},
        #{rangeSonicBenrow},
        #{rangeEldritchBenrow},
        #{rangePoisonBenrow},
        #{rangeDarkriftBenrow},
        #{rangeSacredBenrow},
        #{rangeAC},
        #{rangeMissileAC},
        #{fort},
        #{reflex},
        #{will},
        #{retDmg},
        #{retFire},
        #{retCold},
        #{retShock},
        #{retSonic},
        #{retEldritch},
        #{retPoison},
        #{retDarkrift},
        #{retSacred},
        #{cannotBeSuprised},
        #{freeMovement},
        #{psychic},
        #{psychicLevel},
        #{possession},
        #{spellDmg},
        #{spellHeal},
        #{spellResist},
        #{initiative},
        #{treasureMin},
        #{treasureMax},
        #{level},
        #{drMelee},
        #{drRange},
        #{drSpell},
        #{drFire},
        #{drCold},
        #{drShock},
        #{drSonic},
        #{drEldritch},
        #{drPoison},
        #{drDarkrift},
        #{drSacred},
        #{mFire},
        #{mCold},
        #{mShock},
        #{mSonic},
        #{mEldritch},
        #{mPoison},
        #{mDarkrift},
        #{mSacred},
        #{mForce},
        #{mAcid},
        #{rFire},
        #{rCold},
        #{rShock},
        #{rSonic},
        #{rEldritch},
        #{rPoison},
        #{rDarkrift},
        #{rSacred},
        #{rForce},
        #{rAcid},
        #{bFire},
        #{bCold},
        #{bShock},
        #{bSonic},
        #{bEldritch},
        #{bPoison},
        #{bDarkrift},
        #{bSacred},
        #{bForce},
        #{bAcid})
    </insert>

    <insert id="addCharacterBuff">
        INSERT INTO vtd_buffs (character_id,
                               is_bardsong,
                               buff)
                       VALUES (#{characterId},
                               #{bardsong},
                               #{buff})
    </insert>

    <insert id="addPolys">
          INSERT INTO vtd_poly (id,
                                character_id,
                                name,
                                companion,
                                active,
                                dmg_range,
                                explode_range,
                                explode_effect,
                                explode_text,
                                dmg_effect,
                                crit)
        VALUES
        <foreach item="element" index="index" collection="polyList" separator=",">
            (#{element.id},
             #{element.characterId},
             #{element.name},
             #{element.companion},
             #{element.active},
             #{element.dmgRange},
             #{element.explodeRange},
             #{element.explodeEffect},
             #{element.explodeText},
             #{element.dmgEffects},
             #{element.critMin})
        </foreach>
    </insert>
    
    <select id="getCharacter" resultType="com.achersoft.tdcc.vtd.dao.VtdDetails">
         SELECT id 'characterId',
                orig_id 'characterOrigId',
                user_id 'userId',
                expires,
                name,
                adventureId,
                adventureName,
                critTypes,
                character_class 'characterClass',
                health 'currentHealth',
                roller_difficulty 'rollerDifficulty',
                init_bonus 'initBonus',
                health_bonus 'healthBonus',
                glove_cabal 'glovesCabalBonus',
                bracelet_cabal 'braceletCabalBonus',
                charm_cabal 'charmCabalBonus',
                room_number 'roomNumber',
                meleeMainHit,
                meleeOffhandHit,
                rangeMainHit,
                rangeOffhandHit,
                effects 'availableEffects',
                melee_dmg_range 'meleeDmgRange',
                melee_offhand_dmg_range 'meleeOffhandDmgRange',
                melee_poly_dmg_range 'meleePolyDmgRange',
                range_dmg_range 'rangeDmgRange',
                range_offhand_dmg_range 'rangeOffhandDmgRange',
                melee_weapon_explode_range 'meleeWeaponExplodeRange',
                melee_weapon_secondary_explode_range 'meleeWeaponSecondaryExplodeRange',
                melee_offhand_weapon_explode_range 'meleeOffhandWeaponExplodeRange',
                range_weapon_explode_range 'rangeWeaponExplodeRange',
                range_offhand_weapon_explode_range 'rangeOffhandWeaponExplodeRange',
                melee_weapon_explode_effect 'meleeWeaponExplodeEffect',
                melee_weapon_secondary_explode_effect 'meleeWeaponSecondaryExplodeEffect',
                melee_offhand_weapon_explode_effect 'meleeOffhandWeaponExplodeEffect',
                range_weapon_explode_effect 'rangeWeaponExplodeEffect',
                range_offhand_weapon_explode_effect 'rangeOffhandWeaponExplodeEffect',
                melee_weapon_explode_text 'meleeWeaponExplodeText',
                melee_weapon_secondary_explode_text 'meleeWeaponSecondaryExplodeText',
                melee_offhand_weapon_explode_text 'meleeOffhandWeaponExplodeText',
                range_weapon_explode_text 'rangeWeaponExplodeText',
                range_offhand_weapon_explode_text 'rangeOffhandWeaponExplodeText',
                melee_weapon_damage_effect 'meleeDmgEffects',
                melee_offhand_weapon_damage_effect 'meleeOffhandDmgEffects',
                melee_poly_damage_effect 'meleePolyDmgEffects',
                range_weapon_damage_effect 'rangeDmgEffects',
                range_offhand_weapon_damage_effect 'rangeOffhandDmgEffects',
                melee_crit_min 'meleeCritMin',
                melee_offhand_crit_min 'meleeOffhandCritMin',
                melee_poly_crit_min 'meleePolyCritMin',
                range_crit_min 'rangeCritMin',
                melee_sneak_hit 'meleeSneakHit',
                melee_sneak_damage 'meleeSneakDamage',
                melee_sneak_crit_min 'meleeSneakCritMin',
                range_sneak_hit 'rangeSneakHit',
                range_sneak_damage 'rangeSneakDamage',
                range_sneak_crit_min 'rangeSneakCritMin',
                unmodifiable_sneak_damage 'unmodifiableSneakDamage',
                is_sneak_can_crit 'isSneakCanCrit',
                is_sneak_at_range 'isSneakAtRange',
                split_heal 'splitHeal',
                mad_evoker 'madEvoker',
                mighty_weapon 'mightyWeapon',
                prestigeAvailable,
                prestigeActive
          FROM vtd_character
         WHERE id = #{id}
    </select>

    <select id="getCharacterByName" resultType="com.achersoft.tdcc.vtd.dao.VtdDetails">
         SELECT id 'characterId',
                orig_id 'characterOrigId',
                user_id 'userId',
                expires,
                name,
                adventureId,
                adventureName,
                critTypes,
                character_class 'characterClass',
                health 'currentHealth',
                roller_difficulty 'rollerDifficulty',
                init_bonus 'initBonus',
                health_bonus 'healthBonus',
                glove_cabal 'glovesCabalBonus',
                bracelet_cabal 'braceletCabalBonus',
                charm_cabal 'charmCabalBonus',
                room_number 'roomNumber',
                meleeMainHit,
                meleeOffhandHit,
                rangeMainHit,
                rangeOffhandHit,
                effects 'availableEffects',
                melee_dmg_range 'meleeDmgRange',
                melee_offhand_dmg_range 'meleeOffhandDmgRange',
                melee_poly_dmg_range 'meleePolyDmgRange',
                range_dmg_range 'rangeDmgRange',
                range_offhand_dmg_range 'rangeOffhandDmgRange',
                melee_weapon_explode_range 'meleeWeaponExplodeRange',
                melee_weapon_secondary_explode_range 'meleeWeaponSecondaryExplodeRange',
                melee_offhand_weapon_explode_range 'meleeOffhandWeaponExplodeRange',
                range_weapon_explode_range 'rangeWeaponExplodeRange',
                range_offhand_weapon_explode_range 'rangeOffhandWeaponExplodeRange',
                melee_weapon_explode_effect 'meleeWeaponExplodeEffect',
                melee_weapon_secondary_explode_effect 'meleeWeaponSecondaryExplodeEffect',
                melee_offhand_weapon_explode_effect 'meleeOffhandWeaponExplodeEffect',
                range_weapon_explode_effect 'rangeWeaponExplodeEffect',
                range_offhand_weapon_explode_effect 'rangeOffhandWeaponExplodeEffect',
                melee_weapon_explode_text 'meleeWeaponExplodeText',
                melee_weapon_secondary_explode_text 'meleeWeaponSecondaryExplodeText',
                melee_offhand_weapon_explode_text 'meleeOffhandWeaponExplodeText',
                range_weapon_explode_text 'rangeWeaponExplodeText',
                range_offhand_weapon_explode_text 'rangeOffhandWeaponExplodeText',
                melee_weapon_damage_effect 'meleeDmgEffects',
                melee_offhand_weapon_damage_effect 'meleeOffhandDmgEffects',
                melee_poly_damage_effect 'meleePolyDmgEffects',
                range_weapon_damage_effect 'rangeDmgEffects',
                range_offhand_weapon_damage_effect 'rangeOffhandDmgEffects',
                melee_crit_min 'meleeCritMin',
                melee_offhand_crit_min 'meleeOffhandCritMin',
                melee_poly_crit_min 'meleePolyCritMin',
                range_crit_min 'rangeCritMin',
                melee_sneak_hit 'meleeSneakHit',
                melee_sneak_damage 'meleeSneakDamage',
                melee_sneak_crit_min 'meleeSneakCritMin',
                range_sneak_hit 'rangeSneakHit',
                range_sneak_damage 'rangeSneakDamage',
                range_sneak_crit_min 'rangeSneakCritMin',
                unmodifiable_sneak_damage 'unmodifiableSneakDamage',
                is_sneak_can_crit 'isSneakCanCrit',
                is_sneak_at_range 'isSneakAtRange',
                split_heal 'splitHeal',
                mad_evoker 'madEvoker',
                mighty_weapon 'mightyWeapon',
                prestigeAvailable,
                prestigeActive
        FROM vtd_character
        WHERE user_id = #{userId}
          AND name = #{name}
    </select>

    <select id="getCharacters" resultType="com.achersoft.tdcc.vtd.dao.VtdDetails">
         SELECT id 'characterId',
                orig_id 'characterOrigId',
                user_id 'userId',
                expires,
                name,
                adventureId,
                adventureName,
                critTypes,
                character_class 'characterClass',
                health 'currentHealth',
                roller_difficulty 'rollerDifficulty',
                init_bonus 'initBonus',
                health_bonus 'healthBonus',
                glove_cabal 'glovesCabalBonus',
                bracelet_cabal 'braceletCabalBonus',
                charm_cabal 'charmCabalBonus',
                room_number 'roomNumber',
                meleeMainHit,
                meleeOffhandHit,
                rangeMainHit,
                rangeOffhandHit,
                effects 'availableEffects',
                melee_dmg_range 'meleeDmgRange',
                melee_offhand_dmg_range 'meleeOffhandDmgRange',
                melee_poly_dmg_range 'meleePolyDmgRange',
                range_dmg_range 'rangeDmgRange',
                range_offhand_dmg_range 'rangeOffhandDmgRange',
                melee_weapon_explode_range 'meleeWeaponExplodeRange',
                melee_weapon_secondary_explode_range 'meleeWeaponSecondaryExplodeRange',
                melee_offhand_weapon_explode_range 'meleeOffhandWeaponExplodeRange',
                range_weapon_explode_range 'rangeWeaponExplodeRange',
                range_offhand_weapon_explode_range 'rangeOffhandWeaponExplodeRange',
                melee_weapon_explode_effect 'meleeWeaponExplodeEffect',
                melee_weapon_secondary_explode_effect 'meleeWeaponSecondaryExplodeEffect',
                melee_offhand_weapon_explode_effect 'meleeOffhandWeaponExplodeEffect',
                range_weapon_explode_effect 'rangeWeaponExplodeEffect',
                range_offhand_weapon_explode_effect 'rangeOffhandWeaponExplodeEffect',
                melee_weapon_explode_text 'meleeWeaponExplodeText',
                melee_weapon_secondary_explode_text 'meleeWeaponSecondaryExplodeText',
                melee_offhand_weapon_explode_text 'meleeOffhandWeaponExplodeText',
                range_weapon_explode_text 'rangeWeaponExplodeText',
                range_offhand_weapon_explode_text 'rangeOffhandWeaponExplodeText',
                melee_weapon_damage_effect 'meleeDmgEffects',
                melee_offhand_weapon_damage_effect 'meleeOffhandDmgEffects',
                melee_poly_damage_effect 'meleePolyDmgEffects',
                range_weapon_damage_effect 'rangeDmgEffects',
                range_offhand_weapon_damage_effect 'rangeOffhandDmgEffects',
                melee_crit_min 'meleeCritMin',
                melee_offhand_crit_min 'meleeOffhandCritMin',
                melee_poly_crit_min 'meleePolyCritMin',
                range_crit_min 'rangeCritMin',
                melee_sneak_hit 'meleeSneakHit',
                melee_sneak_damage 'meleeSneakDamage',
                melee_sneak_crit_min 'meleeSneakCritMin',
                range_sneak_hit 'rangeSneakHit',
                range_sneak_damage 'rangeSneakDamage',
                range_sneak_crit_min 'rangeSneakCritMin',
                unmodifiable_sneak_damage 'unmodifiableSneakDamage',
                is_sneak_can_crit 'isSneakCanCrit',
                is_sneak_at_range 'isSneakAtRange',
                split_heal 'splitHeal',
                mad_evoker 'madEvoker',
                mighty_weapon 'mightyWeapon',
                prestigeAvailable,
                prestigeActive
        FROM vtd_character
        WHERE user_id = #{userId}
    </select>

    <select id="getSkills" resultType="com.achersoft.tdcc.vtd.dao.CharacterSkill">
        SELECT name,
               details,
               skill_level 'skillLevel',
               skill_type 'skillType',
               skill_target 'skillTarget',
               skill_stat_effect 'skillStatEffect',
               aoe,
               used_number 'usedNumber',
               usable_number 'usableNumber',
               min_effect 'minEffect',
               max_effect 'maxEffect',
               once_per_room 'oncePerRoom',
                isCold,
                isFire,
                isShock,
                isSonic,
                isPoison,
                isSacred,
                isDarkrift,
                isAcid,
                coldBonus,
                fireBonus,
                shockBonus,
                sonicBonus,
                poisonBonus,
                sacredBonus,
                darkriftBonus,
                acidBonus
         FROM character_skills
        WHERE character_class = #{characterClass}
          AND character_level = #{characterLevel}
    </select>

    <select id="getCharacterSkill" resultType="com.achersoft.tdcc.vtd.dao.CharacterSkill">
        SELECT id,
                character_id 'characterId',
                name,
                details,
                skill_level 'skillLevel',
                skill_type 'skillType',
                skill_target 'skillTarget',
                skill_stat_effect 'skillStatEffect',
                aoe,
                used_number 'usedNumber',
                usable_number 'usableNumber',
                min_effect 'minEffect',
                max_effect 'maxEffect',
                once_per_room 'oncePerRoom',
                isCold,
                isFire,
                isShock,
                isSonic,
                isPoison,
                isSacred,
                isDarkrift,
                isAcid,
                coldBonus,
                fireBonus,
                shockBonus,
                sonicBonus,
                poisonBonus,
                sacredBonus,
                darkriftBonus,
                acidBonus
        FROM vtd_skills
        WHERE character_id = #{characterId}
          AND id = #{id}
    </select>

    <select id="getCharacterSkills" resultType="com.achersoft.tdcc.vtd.dao.CharacterSkill">
        SELECT id,
               character_id 'characterId',
                name,
                details,
                skill_level 'skillLevel',
                skill_type 'skillType',
                skill_target 'skillTarget',
                skill_stat_effect 'skillStatEffect',
                aoe,
                used_number 'usedNumber',
                usable_number 'usableNumber',
                min_effect 'minEffect',
                max_effect 'maxEffect',
               once_per_room 'oncePerRoom',
                isCold,
                isFire,
                isShock,
                isSonic,
                isPoison,
                isSacred,
                isDarkrift,
                isAcid,
                coldBonus,
                fireBonus,
                shockBonus,
                sonicBonus,
                poisonBonus,
                sacredBonus,
                darkriftBonus,
                acidBonus
          FROM vtd_skills
         WHERE character_id = #{characterId}
        ORDER BY name
    </select>

    <select id="getCharacterStats" resultType="com.achersoft.tdcc.character.dao.CharacterStats">
        SELECT id 'characterId',
        base_str 'baseStr',
        str,
        str_bonus 'strBonus',
        base_dex 'baseDex',
        dex,
        dex_bonus 'dexBonus',
        base_con 'baseCon',
        con,
        con_bonus 'conBonus',
        base_intel 'baseIntel',
        intel,
        intel_bonus 'intelBonus',
        base_wis 'baseWis',
        wis,
        wis_bonus 'wisBonus',
        base_cha 'baseCha',
        cha,
        cha_bonus 'chaBonus',
        health,
        regen,
        meleeHit,
        meleePolyHit,
        meleeDmg,
        meleePolyDmg,
        meleeFire,
        meleeCold,
        meleeShock,
        meleeSonic,
        meleeEldritch,
        meleePoison,
        meleeDarkrift,
        meleeSacred,
        meleeAC,
        rangeHit,
        rangeDmg,
        rangeFire,
        rangeCold,
        rangeShock,
        rangeSonic,
        rangeEldritch,
        rangePoison,
        rangeDarkrift,
        rangeSacred,
        rangeHitBenrow,
        rangeDmgBenrow,
        rangeFireBenrow,
        rangeColdBenrow,
        rangeShockBenrow,
        rangeSonicBenrow,
        rangeEldritchBenrow,
        rangePoisonBenrow,
        rangeDarkriftBenrow,
        rangeSacredBenrow,
        rangeAC,
        rangeMissileAC,
        fort,
        reflex,
        will,
        retDmg,
        retFire,
        retCold,
        retShock,
        retSonic,
        retEldritch,
        retPoison,
        retDarkrift,
        retSacred,
        cannotBeSuprised,
        freeMovement,
        psychic,
        psychic_level 'psychicLevel',
        possession,
        spellDmg,
        spellHeal,
        spellResist,
        initiative,
        treasureMin,
        treasureMax,
        level,
        drMelee,
        drRange,
        drSpell,
        drFire,
        drCold,
        drShock,
        drSonic,
        drEldritch,
        drPoison,
        drDarkrift,
        drSacred,
        mFire,
        mCold,
        mShock,
        mSonic,
        mEldritch,
        mPoison,
        mDarkrift,
        mSacred,
        mForce,
        mAcid,
        rFire,
        rCold,
        rShock,
        rSonic,
        rEldritch,
        rPoison,
        rDarkrift,
        rSacred,
        rForce,
        rAcid,
        bFire,
        bCold,
        bShock,
        bSonic,
        bEldritch,
        bPoison,
        bDarkrift,
        bSacred,
        bForce,
        bAcid
        FROM vtd_stats
        WHERE id = #{id}
    </select>

    <select id="getCharacterBuffs" resultType="com.achersoft.tdcc.vtd.dao.VtdBuff">
        SELECT character_id 'characterId',
               is_bardsong 'bardsong',
               buff
          FROM vtd_buffs
         WHERE character_id = #{characterId}
    </select>

    <select id="getCharacterPolys" resultType="com.achersoft.tdcc.vtd.dao.VtdPoly">
        SELECT id,
               character_id 'characterId',
               name,
               companion,
               active,
               dmg_range 'dmgRange',
               explode_range 'explodeRange',
               explode_effect 'explodeEffect',
               explode_text 'explodeText',
               dmg_effect 'dmgEffects',
               crit 'critMin'
        FROM vtd_poly
        WHERE character_id = #{characterId}
    </select>

    <select id="buffExists" resultType="boolean">
        SELECT count(*)
        FROM vtd_buffs
        WHERE character_id = #{characterId} AND buff = #{buff}
    </select>

    <update id="updateCharacterDr">
        UPDATE vtd_stats SET
            drFire = #{drFire},
            drCold = #{drCold},
            drShock = #{drShock},
            drSonic = #{drSonic}
        WHERE id = #{characterId}
    </update>

    <update id="updateCharacterSkill">
        UPDATE vtd_skills SET
            used_number = #{usedNumber},
            usable_number = #{usableNumber},
            min_effect = #{minEffect},
            max_effect = #{maxEffect}
        WHERE id = #{id}
    </update>

    <update id="updateCharacterPoly">
        UPDATE vtd_poly SET
        active = #{active}
        WHERE id = #{id}
    </update>

    <insert id="updateCharacter">
        UPDATE vtd_character SET
            effects = #{availableEffects},
            expires = #{expires},
            health = #{currentHealth},
            roller_difficulty = #{rollerDifficulty},
            init_bonus = #{initBonus},
            health_bonus = #{healthBonus},
            glove_cabal = #{glovesCabalBonus},
            bracelet_cabal = #{braceletCabalBonus},
            charm_cabal = #{charmCabalBonus},
            room_number = #{roomNumber},
            melee_poly_dmg_range = #{meleePolyDmgRange},
            melee_poly_damage_effect = #{meleePolyDmgEffects},
            melee_poly_crit_min = #{meleePolyCritMin},
            adventureId = #{adventureId},
            adventureName = #{adventureName},
            prestigeActive = #{prestigeActive}
        WHERE id = #{characterId}
    </insert>
    
    <delete id="deleteCharacter">
        DELETE FROM vtd_character WHERE id = #{id}
    </delete>
    
    <delete id="deleteCharacterSkills">
        DELETE FROM vtd_skills WHERE character_id = #{id}
    </delete>

    <delete id="deleteCharacterStats">
        DELETE FROM vtd_stats WHERE id = #{id}
    </delete>

    <delete id="deleteCharacterBuffs">
        DELETE FROM vtd_buffs WHERE character_id = #{id}
    </delete>

    <delete id="deleteCharacterPolys">
        DELETE FROM vtd_poly WHERE character_id = #{id}
    </delete>

    <delete id="resetCharacterBuffs">
        DELETE FROM vtd_buffs WHERE character_id = #{id} AND is_bardsong = false
    </delete>

    <delete id="deleteCharacterBuff">
        DELETE FROM vtd_buffs WHERE character_id = #{id} AND buff = #{buff}
    </delete>
</mapper>                          