<div ng-if="model === null" class="col-xs-12 col-md-8 col-md-offset-2 text-center" style="padding-left:10px;padding-right:10px;margin-bottom:10px;">
    <div class="col-xs-12 text-center" ng-if="editable" style="padding-left:0px;padding-right:0px;">
        <button type="button" class="col-xs-12 btn btn-default" ng-click="openModal()" ng-click="removeCharacterFromParty(characterClass)">
            Add {{characterClass | characterclassformat}}
        </button>
    </div>
</div>
<div ng-if="model !== null" class="col-xs-12 col-md-8 col-md-offset-2 text-center" style="padding-left:10px;padding-right:10px;margin-bottom:10px;">
    <div class="col-xs-12" style="background-color:#efefef;border:2px solid black;padding-left:0px;padding-right:0px;">
        <div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
            <div class="col-xs-6 text-left" style="padding-left:3px;padding-right:0px;">
                <strong>{{characterClass | characterclassformat}}</strong>  (Level: {{model.level}} )
            </div>
            <div class="col-xs-6 text-right" style="padding-left:0px;padding-right:3px;">
                Treasure: {{model.treasure}} 
            </div>
        </div>
        <div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
            <div class="col-xs-6 text-left" style="padding-left:3px;padding-right:0px;">
                <div ng-if="model.userName === null">
                    {{model.name}} 
                </div>
                <div ng-if="model.userName !== null">
                    {{model.userName}} - {{model.name}} 
                </div>
            </div>
            <div class="col-xs-6 text-right" style="padding-left:0px;padding-right:3px;">
                HP: {{model.health}} 
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:5px;padding-left:0px;padding-right:0px;background-color:black;"></div>
        <div class="col-xs-12" style="padding-left:0px;padding-right:0px;font-size:12px">
            <div class="col-xs-7" style="padding-left:0px;padding-right:0px;">
                <div class="col-xs-12" style="padding-left:0px;padding-right:0px;border-right:1px solid black;border-bottom:1px solid black;">
                    <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                        <strong>Melee</strong>
                    </div>
                    <div class="col-xs-4 text-left" style="padding-left:3px;padding-right:0px;">
                        Hit: {{model.meleeHit}}
                    </div>
                    <div class="col-xs-4 text-center" style="padding-left:0px;padding-right:0px;">
                        Damage: {{model.rangeDmg}}
                    </div>
                    <div class="col-xs-4 text-right" style="padding-left:0px;padding-right:3px;">
                        AC: {{model.meleeAC}}
                    </div>
                    <div class="col-xs-12 text-left" style="padding-left:3px;padding-right:0px;" ng-if="model.meleeFire||model.meleeCold||model.meleeShock||model.meleeSonic||model.meleeEldritch||model.meleePoison||model.meleeDarkrift||model.meleeSacred">
                        <span ng-if="model.meleeFire">Fire</span>
                        <span ng-if="model.meleeCold">Cold</span>
                        <span ng-if="model.meleeShock">Shock</span>
                        <span ng-if="model.meleeSonic">Sonic</span>
                        <span ng-if="model.meleeEldritch">Eldritch</span>
                        <span ng-if="model.meleePoison">Poison</span>
                        <span ng-if="model.meleeDarkrift">Darkrift</span>
                        <span ng-if="model.meleeSacred">Sacred</span>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-left:0px;padding-right:0px;border-right:1px solid black;">
                    <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                        <strong>Ranged</strong>
                    </div>
                    <div class="col-xs-4 text-left" style="padding-left:3px;padding-right:0px;">
                        Hit: {{model.rangeHit}}
                    </div>
                    <div class="col-xs-4 text-center" style="padding-left:0px;padding-right:0px;">
                        Damage: {{model.rangeDmg}}
                    </div>
                    <div class="col-xs-4 text-right" style="padding-left:0px;padding-right:3px;">
                        AC: {{model.rangeAC}}
                    </div>
                    <div class="col-xs-12 text-left" style="padding-left:3px;padding-right:0px;" ng-if="model.rangeFire||model.rangeCold||model.rangeShock||model.rangeSonic||model.rangeEldritch||model.rangePoison||model.rangeDarkrift||model.rangeSacred">
                        <span ng-if="model.rangeFire">Fire</span>
                        <span ng-if="model.rangeCold">Cold</span>
                        <span ng-if="model.rangeShock">Shock</span>
                        <span ng-if="model.rangeSonic">Sonic</span>
                        <span ng-if="model.rangeEldritch">Eldritch</span>
                        <span ng-if="model.rangePoison">Poison</span>
                        <span ng-if="model.rangeDarkrift">Darkrift</span>
                        <span ng-if="model.rangeSacred">Sacred</span>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-left:0px;padding-right:0px;border-right:1px solid black;border-top:1px solid black;" ng-if="characterClass === 'CLERIC' || characterClass === 'BARD' || characterClass === 'DRUID' || characterClass === 'ELF_WIZARD'|| characterClass === 'WIZARD'">
                    <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                        <strong>Spell</strong>
                    </div>
                    <div class="col-xs-4 text-left" style="padding-left:3px;padding-right:0px;">
                        Heal: {{model.spellHeal}}
                    </div>
                    <div class="col-xs-4 text-center" style="padding-left:0px;padding-right:0px;">
                        Damage: {{model.spellDmg}}
                    </div>
                    <div class="col-xs-4 text-right" style="padding-left:0px;padding-right:3px;">
                        Resist: {{model.spelResist}}
                    </div>
                </div>
            </div>
            <div class="col-xs-5" style="padding-left:0px;padding-right:0px;">
                <div class="col-xs-12 text-left" style="padding-left:0px;padding-right:0px;;border-bottom:1px solid black;">
                    <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                        <strong>Saves</strong>
                    </div>
                    <div class="col-xs-4 text-left" style="padding-left:3px;padding-right:0px;">
                        Fort: {{model.fort}}
                    </div>
                    <div class="col-xs-4 text-center" style="padding-left:0px;padding-right:0px;">
                        Reflex: {{model.reflex}}
                    </div>
                    <div class="col-xs-4 text-right" style="padding-left:0px;padding-right:3px;">
                        Will: {{model.will}}
                    </div>
                </div>
                <div class="col-xs-12 text-left" style="padding-left:0px;padding-right:0px;border-bottom:1px solid black;">
                    <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                        <strong>Retribution</strong>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-left:3px;padding-right:0px;">
                        Damage: {{model.retDmg}}
                    </div>
                    <div class="col-xs-12 text-left" style="padding-left:3px;padding-right:0px;" ng-if="model.retFire||model.retCold||model.retShock||model.retSonic||model.retEldritch||model.retPoison||model.retDarkrift||model.retSacred">
                        <span ng-if="model.retFire">Fire</span>
                        <span ng-if="model.retCold">Cold</span>
                        <span ng-if="model.retShock">Shock</span>
                        <span ng-if="model.retSonic">Sonic</span>
                        <span ng-if="model.retEldritch">Eldritch</span>
                        <span ng-if="model.retPoison">Poison</span>
                        <span ng-if="model.retDarkrift">Darkrift</span>
                        <span ng-if="model.retSacred">Sacred</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center" ng-if="editable" style="padding-left:0px;padding-right:0px;font-size:12px;border-top:1px solid black;">
            <div class="col-xs-12 text-left" style="padding-left:0px;padding-right:0px;;border-bottom:1px solid black;">
                <div class="col-xs-12 text-center" style="padding-left:0px;padding-right:0px;">
                    <strong>Special Abilities</strong>
                </div>
                <div class="col-xs-5 col-md-4 text-left" style="padding-left:3px;padding-right:0px;">
                    Cannot Be Surprised: {{model.cannotBeSuprised}}
                </div>
                <div class="col-xs-4 col-md-4 text-center" style="padding-left:0px;padding-right:0px;">
                    Free Movement: {{model.freeMovement}}
                </div>
                <div class="col-xs-3 col-md-4 text-right" style="padding-left:0px;padding-right:3px;">
                    Psychic: {{model.psychic}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center" ng-if="editable" style="padding-left:0px;padding-right:0px;border-top:1px solid black;">
            <button type="button" class="col-xs-12 btn btn-info" data-dismiss="modal" ng-click="removeCharacterFromParty(characterClass)">
                Remove {{characterClass | characterclassformat}}
            </button>
        </div>
    </div>
</div>
